<div class="text-page" style="margin:auto; padding-top: 14px; min-height:1000px;">
  <div class="container">
    <div class="row">
      <div class="span9">
        <h4>Creative Commons / Free Culture</h4>
        <p>De rechten op de muziek die via ikcomponeer.nl kan worden samengesteld, zijn uitgedrukt in het Creative Commons logo. Dit logo verschijnt als het van toepassing is. Als u op het logo klikt, leest u een samenvatting van de licentie die van toepassing is op de muziek. Het Muziekcentrum van de Omroep en het Metropole Orkest hebben de muziek onder deze voorwaarden gepubliceerd.</p>
        <h4>Hergebruik</h4>
        <p>De composities gemaakt met dit materiaal en gepubliceerd op de ikcomponeer.nl website vallen automatisch onder bovengenoemde licentie.</p>
        <h4>Strekking</h4>
        <p>Het bovenstaande is van toepassing voor muziek zoals die in de normale gebruikscontext van het grafische bedieningspaneel van de website ikcomponeer.nl kan worden gevonden.</p>
      </div>
    </div>
  </div>
</div>