<div class="text-page" style="margin:auto; padding-top: 14px; min-height:1000px;">
  <div class="container">
    <div class="row">
      <div class="span9">
        <h4>Meld een storing, stel een vraag of doe een suggestie</h4>
        <p>U ontvangt binnen één week antwoord van Metropole Orkest Educatie en/of de technische beheerder van de site.</p>
        <h4>Probeer bij technische gebreken zoveel mogelijk informatie te geven</h4>
        <p>In geval van een technische storing beantwoorden wij deze met extra spoed. Geef in dat geval een duidelijke beschrijving (omstandigheden, datum en tijd, wat deed u, wat verwachtte u, wat gebeurde er).</p>
        <p><strong>Het is niet verplicht maar we zijn u wel heel dankbaar als u uw contactgegevens toevoegt zodat we eventueel contact kunnen opnemen voor meer informatie.</strong></p>
      </div>
    </div><hr/>
    <div class="row form-row">
      <div class="span3">
        <label class="form-label">uw naam *</label>
      </div>
      <div class="span6">
        <input type="text" placeholder="voer hier uw naam in" id="contactFormName"/>
      </div>
    </div>
    <div class="row form-row">
      <div class="span3">
        <label class="form-label">uw bericht *</label>
      </div>
      <div class="span6">
        <textarea rows="8" cols="70" placeholder="voer hier uw bericht in" id="contactFormMessage"></textarea>
      </div>
    </div>
    <div class="row form-row">
      <div class="span6">
        <div class="row form-row">
          <div class="span3">
            <label class="form-label">uw mail adres</label>
          </div>
          <div class="span3">
            <input type="email" id="contactFormEmail" placeholder="gaarne uw mail adres"/>
          </div>
        </div>
        <div class="row form-row">
          <div class="span3">
            <label class="form-label">uw telefoonnummer</label>
          </div>
          <div class="span3">
            <input type="text" id="contactFormPhone" placeholder="gaarne uw telefoonnummer"/>
          </div>
        </div>
        <div class="row form-row">
          <div class="span3">
            <label class="form-label">onderwerp *</label>
          </div>
          <div class="span3">
            <input type="checkbox" id="contactFormIsTechnicalProblem"><label class="form-label checkbox-label">technische storing</label><br/>
            <input type="checkbox" id="contactFormIsSuggestion"><label class="form-label checkbox-label">suggestie</label><br/>
            <input type="checkbox" id="contactFormIsInquiry"><label class="form-label checkbox-label">informatieverzoek</label><br/>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="row form-row">
          <p>Om aan te geven dat u een echt mens bent en geen spam robot: *</p>
          <div class="g-recaptcha" data-sitekey="6LegUQATAAAAAOLdMpVu6iCey9FJycfuGpojirMQ"></div>
          <script src='https://www.google.com/recaptcha/api.js?hl=nl' async defer></script>
        </div>
      </div>
    </div>
    <div class="row form-row">
      <div class="span3">
        <label class="form-label">verzendknop</label>
      </div>
      <div class="span6">
        <button id="contactFormSubmitButton" onclick="ikc.mps.submitContactForm()">Verzend!</button>
      </div>
    </div>
    <div class="row">
      <p id="contactFormFeedback"></p>
    </div>
  </div>
</div>