<div class="text-page" style="margin:auto; padding-top: 0px;">
   <div class="row" style="padding-left: 64px; padding-top:17px; margin-left:0px;">
      <div class="span4">
         <p style="margin-bottom:4px;"><a title="PO project 1" href="http://www.mo.nl/educatie/po-project-1/"><img src="http://www.mo.nl/wp/wp-content/uploads/2014/02/edu-hitenplay.jpg" alt="edu-hitenplay" width="600" height="457" class="alignnone size-full wp-image-1765"></a></p>
         <p style="margin-bottom:4px;" class="heading">Workshop Hit&Play</p>
         <p style="margin-bottom:4px;">In één dag met je klas een eigen compositie maken, geïnspireerd op een bezoek aan het Metropole Orkest? Dat kan met de workshop Hit&amp;Play. <a title="PO project 1" href="http://www.mo.nl/educatie/po-project-1/">Lees meer…</a></p>
      </div>
      <div class="span4">
         <p style="margin-bottom:4px;"><a title="PO project 2" href="http://www.mo.nl/educatie/po-project-2/"><img src="http://www.mo.nl/wp/wp-content/uploads/2014/02/edu-flitsbezoek-po.jpg" alt="edu-flitsbezoek" width="600" height="457" class="alignnone size-full wp-image-1767"></a></p>
         <p style="margin-bottom:4px;" class="heading">Flitsbezoek</p>
         <p style="margin-bottom:4px;">Neem een kijkje in de studio bij het Metropole Orkest! Binnen een uur zijn de leerlingen een muzikale ervaring rijker. <a title="PO project 2" href="http://www.mo.nl/educatie/po-project-2/">Lees meer…</a></p>
      </div>
   </div>
   <div class="row" style="margin-top: 17px; padding-left: 64px;  margin-left:0px;">
       <div class="span4">
         <p style="margin-bottom:4px;"><a title="PO project 3" href="http://www.mo.nl/educatie/po-project-3/"><img src="http://www.mo.nl/wp/wp-content/uploads/2014/02/edu-metropoleopschool.jpg" alt="edu-metropoleopschool" width="600" height="457" class="alignnone size-full wp-image-1862"></a></p>
         <p style="margin-bottom:4px;" class="heading">Metropole op school!</p>
         <p style="margin-bottom:4px;">Het Metropole Orkest kan ook bij jou op school langskomen met spannende kindervoorstellingen op locatie. <a title="PO project 3" href="http://www.mo.nl/educatie/po-project-3/">Lees meer…</a></p>
      </div>
       <div class="span4">
         <p style="margin-bottom:4px;"><a title="PO project 4" href="http://www.mo.nl/educatie/po-project-4/"><img src="http://www.mo.nl/wp/wp-content/uploads/2014/02/edu-mmf.jpg" alt="edu-mmf" width="600" height="457" class="alignnone size-full wp-image-1803"></a></p>
         <p style="margin-bottom:4px;" class="heading">Magische Muziekfabriek</p>
         <p style="margin-bottom:4px;">In Utrecht spelen de muzikanten van het Metropole Orkest regelmatig in de serie De Magische Muziekfabriek. <a title="PO project 4" href="http://www.mo.nl/educatie/po-project-4/">Lees meer…</a></p>
      </div>
   </div></div>