<div class="text-page" style="margin:auto; padding-top: 0px;">
    <div class="row" style="padding-left: 0px; margin-left:0px;">
        <div id="ikcDivNew" style="width:960px; height:821px;"></div>
    </div>
</div>