<div class="text-page" style="margin:auto; padding-top: 14px; min-height:1000px;">
  <div class="container">
    <div class="row">
      <div class="span9">
        <h4>Hoe kunnen wij als klas onze composities makkelijk terugvinden?</h4>
        <p>Als u begint met de klas, dan spreekt u met de kinderen af, dat ze bij het opslaan van de compositie, hun voornaam invoeren, samen met een 'wachtwoord' zoals 'bosbes' of 'groep 7 meester Henk'. U gebruikt achteraf het zoekveld rechtsbovenin de muzieklijst om de composities van de kinderen te kunnen terugzoeken op dat 'wachtwoord'.</p>
        <h4>Kan ik meer doen met de componeertool?</h4>
        <p>Het <a href="http://kunstgebouw.nl/Scholen/Producten/DoeKunst/Informatie/Online_opdrachten.php" target="_blank">Kunstgebouw</a> biedt online modules aan waarin de componeertool thematisch gecombineerd wordt met bijvoorbeeld workshops, theater of film.</p>
        <h4>Zelf een project in elkaar zetten.</h4>
        <p>Als u voor uw school een eigen website met uw eigen muziekblokjes wilt hebben, dan kunnen wij u hierbij ondersteunen. Neemt u voor informatie contact op met <a href="mailto:educatie@mo.nl">educatie@mo.nl</a></p>
        <h4>Op de hoogte van nieuwe projecten.</h4>
        <p>U kunt uw mail adres invoeren om een nieuwsbrief te ontvangen als er nieuwe muziek of andere belangrijke uitbreidingen verschijnen.</p>
        <form><input id="nieuwsbriefEmail" type="email"><button type="submit" onclick="ikc.mps.submitNieuwsbriefAddress()">Verzenden</button></form>
        <div id="nieuwsbriefEmailFeedback"></div>
      </div>
    </div>
  </div>
</div>