<div class="text-page" style="margin:auto; padding-top: 14px; min-height:1000px;">
  <div class="container">
    <div class="row">
      <div class="span9">
        <h4>Persoonlijke gegevens</h4>
        <p>De persoonlijke gegevens die via het gebruik van ikcomponeer.nl opgeslagen worden op de servers van ikcomponeer.nl worden uitsluitend gebruikt om de gebruiker in staat te stellen in te loggen en om de gebruikersnaam die via de open-id login meekomt in de muzieklijst weer te geven.</p>
      </div>
    </div>
  </div>
</div>