<div class="text-page" style="margin:auto; padding-top: 14px;">
  <div class="container">
    <div class="row">
      <div class="span9">
        <h4>Is het moeilijk om de componeertool te gebruiken?</h4>
        <p>Voor kinderen vanaf vier jaar die een muis kunnen bedienen (klikken en slepen) is geen verdere instructie nodig. Er is een filmpje in het begin wat laat zien hoe het werkt. Er zijn geen moeilijke knoppen, maar je kunt op alles (blokjes, de compositie) klikken en er komt al geluid!</p>
        <h4>Is het nodig om in te loggen?</h4>
        <p>Dit is niet nodig. Je kunt de compositie terugvinden door een naam aan de compositie te geven en hierop te zoeken. Als je met een groepje componeert, kun je een unieke naam afspreken bijvoorbeeld dat iedereen zijn naam begint met "appeltaart" en daarna bijvoorbeeld de eigen voornaam. Dan kun je alle composities van de hele groep terugvinden door in de muzieklijst het zoekveld te gebruiken..</p>
        <h4>Waarvoor kan inloggen belangrijk zijn?</h4>
        <p>Als je inlogt, komt je naam bij de compositie te staan. Als je later opnieuw inlogt kun je de compositie alsnog verwijderen omdat de computer dan weet dat deze compositie van jou is.</p>
        <h4>Als ik niet inlog, kan ik dan later aan dezelfde compositie verder werken?</h4>
        <p>Ja, iedereen kan altijd alle composities van iedereen openen. Als je niet ingelogd bent, dan wordt er een kopie opgeslagen. Dus stel dat je op een dag een compositie "appelstroop" maakt, en je komt een paar dagen later terug en werkt verder aan die compositie, dan staan er twee composities "appelstroop" in de Muzieklijst, elk met een andere datum.</p>
        <h4>Hoe kom ik meer over de instrumenten te weten?</h4>
        <p>De muziekstijl "Groots en Meeslepend" in de componeeromgeving bevat de muziek van SchoolTV Muziek Klassiek. Onder <a href="http://www.schooltv.nl/zoekresultaten/?q=muziek+klassiek#%7B%22keyword%22%3A%22muziek%20klassiek%22%2C%22filter%22%3A%7B%22program%22%3A%5B%22poms_s_ntr_124989%22%5D%7D%2C%22offset%22%3A0%2C%22max%22%3A30%2C%22sort%22%3A%7B%22sortDate%22%3A%22ASC%22%7D%7D" target="_blank">deze link</a> zijn die afleveringen in de juiste volgorde te vinden!</p>
        <h4>Hoe kan ik andere muziekblokjes krijgen?</h4>
        <p>Met de witte pijlen naar links en rechts, kom je vanzelf langs een aantal verschillende verzamelingen van blokjes. Met de paarse pijlen naar links en rechts komen alle namen van de muziekstukken voorbij en kun je daarop klikken om die blokjes te krijgen.</p>
        <h4>Hoe werkt de Muzieklijst?</h4>
        <p>Hier kunnen alle composities van iedereen beluisterd worden. Met het potloodje kunnen deze ook altijd geopend worden. Er kan een MP3 worden gedownload met het pijltje-naar-beneden-knopje. Met het zoekveld bovenaan kunnen composities worden teruggevonden. Je kunt je eigen composities met het prullenbakje verwijderen, met de delen-schuif aan anderen laten horen of voor anderen verbergen, de naam van de compositie aanpassen en de compositie opnieuw openen.</p>
        <h4>Mijn vraag staat hier niet bij</h4>
        <p>Neem contact op met het Metropole Orkest Educatie onder <a href="mailto:educatie@mo.nl">educatie@mo.nl</a>.</p>
        <p><br/><br/><br/></p>
      </div>
    </div>
  </div>
</div>