<div ng-controller="ModeratorController" id="manage_clientPage">
    
    <h2>moderator</h2>
    
    <!-- no admin is logged in -->
    <div ng-show="admin.name === '' && moderator.name === ''">
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            You are currently not logged in as an administrator or moderator. 
            Use the social login of the composition environment itself to log in as a moderator. 
            Use the login screen to login as an administrator and then you can impersonate a moderator here.
            <a class="pull-right" style='cursor:pointer;' ui-sref="manage.adminLogin">
                To login screen
            </a>
        </div>
    </div>
    
    <!-- an admin is logged in but no moderator is impersonated -->
    <div ng-show="admin.name !== '' && moderator.name === ''">
        <p>If you are logged in as an administrator, you can only do installation tasks. 
            If you also want to moderate for a client, you have to impersonate a moderator.</p>
        <div class="alert alert-info" role="alert" >
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            Logged in as administrator {{admin.name}}.
        </div>

        <form>
            <div class="form-group">
                <label for="impersonatedModerator">impersonated moderator</label>
                <input type="text" 
                       ng-model="impersonatedModerator" 
                       placeholder="enter moderator name" 
                       typeahead="moderator.name for moderator in match_moderator($viewValue)" 
                       class="form-control">
            </div>
            <button type="submit" class="btn btn-default" ng-click="impersonate_moderator()">Impersonate</button>
        </form>
    </div>
    
    <!-- an admin is logged in and a moderator is impersonated -->
    <div ng-show="admin.name !== '' && moderator.name !== ''">
        <p>You are logged in as an administrator and you impersonate a moderator.</p>
        <div class="alert alert-info" role="alert" >
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            Logged in as administrator {{admin.name}}.
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-3">impersonated moderator name</div>
            <div class="col-md-9">{{moderator.name}}</div>
            <div ng-repeat="rolefor in moderator.ownRolefor">
                <div class="col-md-3">moderator for client</div>
                <div class="col-md-9">{{rolefor.client.name}}</div>
            </div>
        </div>
        <hr/>
        <form>
            <div class="form-group">
                <label for="impersonatedModerator">switch moderator</label>
                <input type="text" 
                       ng-model="impersonatedModerator" 
                       placeholder="enter moderator name" 
                       typeahead="moderator.name for moderator in match_moderator($viewValue)" 
                       class="form-control">
            </div>
            <button type="submit" class="btn btn-default" ng-click="impersonate_moderator()">Impersonate</button>
        </form>
    </div>
    
</div> 