<div ng-controller="ManageAdminsController">
    <h2>manage admins</h2>
    <!--
    <!--
    <!-- INITIALLY NO ADMIN WILL BE CONFIGURED THEN SHOW THIS: -->
    <div class="alert alert-danger" role="alert" ng-show="admins.administrators.length === 0">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        Not a single administrator is configured. You need to create the first administrator now. You will need this for the following install steps.
    </div>
    <!--
    <!--
    <!-- IF THERE ALREADY IS ADMINISTRATORS, EDITOR MAY BE UNCOLLAPSED -->
    <div class="alert alert-info" role="alert" ng-show="admins.administrators.length > 0 && admins.admin.name">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        As an administrator you may add or remove other administrators.
    </div>
    <div class="alert alert-danger" role="alert" ng-show="admins.administrators.length > 0 && (!admins.admin.name)">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        You can not manage administrators since you are not logged in as an administrator.
    </div>
    <div class="panel-collapse" role="tabpanel" collapse="false" ng-show="admins.administrators.length === 0 || admins.admin.name">
        <div class="panel-body">
            <h3>administrators</h3>
            <div class="row">
                <form novalidate role="form" class="col-md-3">
                    <select 
                        ng-model="admins.select_edit_admin" 
                        ng-options="value as value.name for value in admins.administrators"
                        ng-change="select_edit_admin()">
                        <option value="">Edit Administrator</option>
                    </select>
                </form>
                <form novalidate role="form" name="deleteDbConfiguration" class="col-md-3">
                    <select 
                        ng-model="admins.select_delete_admin" 
                        ng-options="value as value.name for value in admins.administrators"
                        ng-change="select_delete_admin()">
                        <option value="">Delete Administrator</option>
                    </select>
                </form>
            </div>
            <hr/>
            <h3>create or edit an administrator</h3>
            <p class="help-block">If you use a new name, there will be a new administrator created. For an existing name you can change the password.</p>
            <form novalidate role="form" name="adminForm">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="adminname">name</label>
                        <input type="text" class="form-control" id="adminname" placeholder="enter admin name" ng-model="admins.admin_edit.name" required ng-pattern="/^[a-zA-Z0-9]*$/">
                        <p class="help-block">only alphanumerical characters allowed</p>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="adminpass">password</label>
                        <input type="text" class="form-control" id="adminpass" placeholder="enter admin password" ng-model="admins.admin_edit.password" required ng-pattern="/^[a-zA-Z0-9]*$/">
                        <p class="help-block">only alphanumerical characters allowed</p>
                    </div>
                </div>
                <button type="button" class="btn btn-default pull-right" ng-click="write_admin()" ng-disabled="adminForm.$invalid">Submit</button>
            </form>
        </div>
    </div>
</div>