<div ng-controller="TemplateController">
    
    <h2>login</h2>
    
    <!-- no moderator is logged in -->
    <div ng-hide="moderator.name">
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            You need to be logged in as a moderator. See the moderator screen how to do so.
            <a class="pull-right" style='cursor:pointer;' ui-sref="manage.moderator">
                To moderator screen
            </a>
        </div>
    </div>
    <!-- moderator logged in -->
    <div ng-show="moderator.name">
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-ok-sign"></span>
            You are logged in as moderator {{moderator.name}}
        </div>
    </div>
    
    <hr/>
    
    <h2>open a retrieved or newly created template</h2>
    
    <h4>
        You may retrieve a template or create a template based on an existing composition or subset.
    </h4>
    
    <hr/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <strong>existing template by autocomplete</strong>
            </div>
            <div class="col-md-6">
                <strong>existing template by dropdown</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <input 
                            type="text" 
                            id="newStyleName" 
                            class="form-control" 
                            placeholder="style name | subset name | template name"
                            typeahead="(t.style_name + ' | ' + t.subset_name + ' | ' + t.template_name ) for t in ftemplates | filter:$viewValue"
                            ng-model="tphTpl"
                            typeahead-on-select="tplSelected($item)"
                            >
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <select 
                    name="select_musicset" 
                    id="select_musicset" 
                    class="form-control" 
                    ng-model="tplSelect" 
                    ng-options="(t.style_name + ' | ' + t.subset_name + ' | ' + t.template_name ) for t in ftemplates"
                    ng-click="tplSelected(tplSelect)">
                    <option value="">style name | subset name | template name</option>
                </select>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <strong>new template by existing composition</strong>
            </div>
            <div class="col-md-6">
                <strong>new template by existing subset</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <input 
                            type="text" 
                            id="newTemplateByComposition" 
                            class="form-control" 
                            placeholder="composition id | user name | composition name | template name | subset name"
                            typeahead="(c.composition_id + ' | ' + c.user_name + ' | ' + c.composition_name + ' | ' + c.template_name + ' | ' + c.subset_name) for c in getCompositionByCompositionIdUserNameCompositionNameTemplateNameSubsetName($viewValue)"
                            ng-model="tplByComp"
                            typeahead-on-select="tplByCompSelect($item)"
                            >
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <input 
                            type="text" 
                            id="newTemplateBySubset" 
                            class="form-control" 
                            placeholder="subset id | subset name"
                            typeahead="(s.subset_id + ' | ' + s.subset_name) for s in getSubsetBySubsetIdSubsetName($viewValue)"
                            ng-model="tplBySubs"
                            typeahead-on-select="tplBySubsSelect($item)"
                            >
                    </div>
                </form>
            </div>
        </div>
        
        <div class="form-horizontal" ng-show="editedTemplate.id">
            <div class="row">
                <div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    You are fantastic. You loaded a template with id {{editedTemplate.id}}, composition id {{editedTemplate.composition_id}} and name {{editedTemplate.name}}. Cheers! 
                    Show or hide the statistics for this template such as the compositions created on it: 
                    <span class="glyphicon glyphicon-eye-open" style="cursor:pointer" ng-click="showTemplateStatistics(editedTemplate.id)" ng-show="!tplStatsUncollapsed"></span>
                    <span class="glyphicon glyphicon-eye-close" style="cursor:pointer" ng-click="hideTemplateStatistics()" ng-show="tplStatsUncollapsed"></span>
                </div>
            </div>
            <div class="row" collapse="!tplStatsUncollapsed">
                <div class="col-md-6">composition count</div>
                <div class="col-md-6">{{editedTemplate.stats.compositionCount}}</div>
            </div>
            <hr/>
            
            <h2>edit template fields</h2>
            
            <hr/>
            <div class="row">
                <div class="col-md-2">
                    <label for="templateName">template system name</label>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input 
                            type="text" 
                            id="templateName" 
                            class="form-control"
                            ng-model="editedTemplate.name"
                            >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="templateName">composition name (displayed)</label>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input 
                            type="text" 
                            id="templateName" 
                            class="form-control"
                            ng-model="editedTemplate.composition.name"
                            >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="templateSlogan">textslogan</label>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <textarea rows="3"
                            id="templateSlogan" 
                            class="form-control"
                            ng-model="editedTemplate.textslogan"
                            >
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="templateOwner">owner</label>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input 
                            type="text" 
                            id="templateOwner" 
                            class="form-control"
                            disabled="disabled"
                            ng-model="editedTemplate.composition.user.name"
                            >
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-9">
                    <p class="help-block">
                        The save button will save the above fields (system name, composition name and textslogan).
                    </p>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-default" 
                       role="button"
                       ng-click="storeEditedTemplate()"
                       style="top: -1px;position: relative; margin-left:25px;">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        <span style="margin-left:10px;">save</span>
                    </a>
                </div>
            </div>
            <hr/>
            
            <h2>edit template configuration</h2>
            <p>You can not change the values once added. You can only add new items and remove old ones. Also the system 
            does not check for you if you have any duplicate keys. You have to avoid that situation yourself.</p>
            <h4>config</h4>
            <div class="row">
                <table class="table">
                    <caption>Current config settings for this template</caption>
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>value</th>
                            <th>DEL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="c in editedTemplate.sharedConf">
                            <th scope="row">{{c.id}}</th>
                            <td>{{c.name}}</td>
                            <td>{{c.value}}</td>
                            <td>
                                <span ng-click="deleteTemplateConfig(c.id)" style="color:red; cursor: pointer;" class="glyphicon glyphicon-remove-sign"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4>add config</h4>
            <div class="row">
                <div class="col-md-2">
                    <label for="templateSlogan">name</label>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input 
                            type="text" 
                            id="templateAddConfName" 
                            class="form-control"
                            ng-model="templateAddConfName"
                            typeahead="c.name for c in searchExistingConfigKeys($viewValue)"
                            typeahead-on-select="listConfValOpts($item.name)"
                            >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="templateSlogan">value</label>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input 
                            type="text" 
                            id="templateAddConfValue" 
                            class="form-control"
                            ng-model="templateAddConfValue"
                            ng-disabled="!templateAddConfName"
                            typeahead="c.value for c in searchExistingConfigValuesForKey(templateAddConfName, $viewValue)"
                            >
                    </div>
                </div>
                <div class="col-md-4">
                    <select 
                        name="confValOptsDropdown" 
                        id="confValOptsDropdown" 
                        class="form-control" 
                        ng-model="confValOptsSelect" 
                        ng-options="t.value for t in confValOpts"
                        ng-click="templateAddConfValue = confValOptsSelect.value">
                        <option value="">existing options</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    press save to save
                </div>
                <div class="col-md-3">
                    <a class="btn btn-default" 
                       role="button"
                       ng-click="addTemplateConfig(templateAddConfName, templateAddConfValue)"
                       style="top: -1px;position: relative; margin-left:25px;">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        <span style="margin-left:10px;">save</span>
                    </a>
                </div>
            </div>
            <hr/>
            
            <h2>edit template composition</h2>
            
            <hr/>
            <div class="row">
                <div class="col-md-9">
                    <p class="help-block">
                        If you are the owner of the template's composition you may open it and modify it in the composition environment.
                        When you're happy about the template, use the tool's normal save method.
                    </p>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-default" 
                       role="button"
                       ng-click="openTemplateInFlash(editedTemplate.composition.id)"
                       ng-disabled="moderator.id !== editedTemplate.composition.user.id"
                       style="top: -1px;position: relative; margin-left:25px;">
                        <span class="glyphicon glyphicon-open"></span>
                        <span style="margin-left:10px;">open in flash</span>
                    </a>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-9">
                    <p class="help-block">
                        Use this button to create and open a clone of this template's composition. You may then modify the clone.
                    </p>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-default" 
                       role="button"
                       ng-click="duplicateEditedTemplate()"
                       style="top: -1px;position: relative; margin-left:25px;">
                        <span class="glyphicon glyphicon-duplicate"></span>
                        <span style="margin-left:10px;">duplicate template</span>
                    </a>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-9">
                    <p class="help-block">
                        The button is only active when you're the template owner. Then you can safely do this as all the existing 
                        compositions that inherit from this parent will already have their contents stored with them. 
                        Use this button to clear the content of the template's composition itself. In a normal situation you 
                        would not use this method. It's there in case the composition's content is corrupted, e.g. when
                        the subset clips in the composition would not be included anymore.
                    </p>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-default" 
                       role="button"
                       ng-click="clearEditedTemplateCompositionContents()"
                       ng-disabled="moderator.id !== editedTemplate.composition.user.id"
                       style="top: -1px;position: relative; margin-left:25px;">
                        <span class="glyphicon glyphicon-erase"></span>
                        <span style="margin-left:10px;">clear composition contents</span>
                    </a>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-9">
                    <p class="help-block">
                        The button is only active when you're the template owner. Then you can safely do this. 
                        If there is already user compositions based on this template, the system will not 
                        remove the template but instead show an error.
                    </p>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-default" 
                       role="button"
                       ng-click="deleteTemplate()"
                       ng-disabled="moderator.id !== editedTemplate.composition.user.id"
                       style="top: -1px;position: relative; margin-left:25px;">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span style="margin-left:10px;">delete template</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>