<div ng-controller="TestE2EController" id="manage_testE2Epage">
    
	<h1> truukjes </h1>
	<p><ul>
		<li>als je vanaf de manage pagina een compositie opent vanuit de subset pagina kan je hem testen</li>
		<li>als je ikcconf_swf_file=ikctst.swf erachter zet dan kan je een andere swf file testen (bijv ikctst.swf)</li>
	</ul></p>
	
	<p><ul>
		<li><a href="http://www.metropoleopschool.nl/tekst/componeren/#thema">metropole op school</a></li>
	</ul></p>
	
	<h1>Test End To End</h1>
    <p>Tests must be chained with something like testThis().then(testThat().then(testBla()))</p>
    <p>Each test will do something (for example initialize the ikc data api libaray)</p>
    <p>It must be able to deep-compare objects and return paths that are NOT the same</p>
    <p>It must be able to take acceptance ranges for values that differ from the expectation</p>
    <p>It must give us a list of differences or a big green OK</p>
    
    <h2>Plan</h2>
    <ol>
        <li>
            Load the ikc javascript (it should be made into vanilla and not import jquery, and load in one file)
        </li>
        <li>
            Load the flash file (it should load within a certain amount of seconds).
        </li>
        <li>
            Stop using the send/post message protocol but try to inject the locations into flash.
        </li>
        <li>
            Define a clear javascript API that will return the same data to Javascript as to Flash.
        </li>
        <li>
            Make sure all data traffic goes thru the flash data access module and not anywhere else in flash.
        </li>
        <li>
            Create tests for all the login and data access functionality that we re-write.
        </li>
        <li>
            The back-end is now entirely testable from the data access module endpoint in flash, using javascript based testing.
        </li>
    </ol>
    <button type="button" ng-click="button()">BUTTON</button>
</div>