<div ng-controller="ExportDevEnvController" id="manage_exportDevEnvPage">

    <h1>export development environment</h1>
    <p>You can export an installation for a development or test environment.</p>

    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Choose a name for the export to download, or use an existing name to overwrite an existing export.</h3>
            <form novalidate name="addCompositions">
                <div class="row">
                    <div class="col-lg-4"><label>Add composition:</label></div>
                    <div class="col-lg-7">
                        <input type="number" required
                                ng-model="addComp"
                                class="form-control" 
                                id="addComp" 
                                placeholder="composition id"
                                name="addComp">
                    </div>
                    <div class="col-lg-1">
                        <button class="btn btn-default" type="button" ng-disabled="addCompositions.$invalid || addComp === ''" ng-click="addComposition()">Add!</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-lg-4"><label>Include clips for compositions:</label></div>
                <div class="col-lg-8">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Id</th>
                          </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ac in devenv.addComps">
                          <td>{{$index + 1}}</td>
                          <td>{{ac.id}}</td>
                          <td>{{ac.name}}</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
            </div>
            <form novalidate name="createNew">
                <div class="row" style="color:grey;">
                    <div class="col-lg-4"><label>Compositions:</label></div>
                    <div class="col-lg-8">
                    <label>
                        <input type="checkbox"> Include compositions selected on compositions tab AND/OR ...
                      </label></div>
                </div>
                <div class="row" style="color:grey;">
                    <div class="col-lg-4"><label>Templates:</label></div>
                    <div class="col-lg-8">
                    <label>
                        <input type="checkbox"> Include templates selected on templates tab AND/OR ...
                      </label></div>
                </div>
                <div class="row" style="color:grey;">
                    <div class="col-lg-4"><label>Users:</label></div>
                    <div class="col-lg-8">
                    <label>
                        <input type="checkbox"> Include users selected on users tab AND/OR (see below)
                    </label></div>
                </div>
                <div class="row" style="color:grey;">
                    <div class="col-lg-4">
                        <label for="dataInclusionOptions" class="control-label">Data Inclusion Options</label>
                    </div>
                    <div class="col-lg-6">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary active">
                                <input type="radio" name="dataInclusionOptions" id="dataInclusionOptionDatabase" checked> Include database
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="dataInclusionOptions" id="dataInclusionOptionStubs"> Include stub data
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4"><label>Users:</label></div>
                    <div class="col-lg-8">
                    <label>
                        <input type="checkbox"> Include users selected on users tab AND/OR (see below)
                    </label></div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label for="newExportName" class="control-label">Name for the export</label>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <input  
                                ng-minlength="6" 
                                ng-pattern="/^[a-zA-Z\d]+$/" 
                                ng-model="devenv.selected" 
                                type="text" 
                                class="form-control" 
                                id="newExportName" 
                                placeholder="type a name"
                                typeahead="ex.exportName for ex in devenv.exports | filter:$viewValue | limitTo:8" 
                                name="newExportName">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-disabled="createNew.$invalid || devenv.selected === ''" ng-click="create()">Go!</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <!-- show only if text input has ng-dirty and ng-invalid -->
                        <span ng-show="createNew.newExportName.$dirty && createNew.newExportName.$invalid" class="label label-warning">the name can only contain letters and digits <br/> (no spaces) and minimum length = 6</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-body">
            <form novalidate role="form" name="downloadExisting">
                <div class="form-group">
                    <h3>Download or remove existing exports...</h3>
                    <table class="table">
                        <tr>
                            <th>select</th>
                            <th>name</th>
                            <th width="30px"></th>
                            <th>status</th>
                        </tr>
                        <tr ng-repeat="ex in devenv.exports">
                            <td>
                                <input type="radio" ng-model="$parent.devenv.commandSubject" name="downloadExisting" id="downloadExisting_{{ex.exportName}}" value="{{ex.exportName}}" required>
                            </td>
                            <td>
                                <label>{{ex.exportName}}</label>
                            </td>
                            <td>
                                <!-- waiting clock icon -->
                                <span ng-show="ex.status !== 'done'" style="font-size:20px;" class="glyphicon glyphicon-time"></span>
                                <!-- download button icon -->
                                <span 
                                    ng-show="ex.status === 'done'" 
                                    style="font-size:20px; cursor: pointer;" 
                                    ng-click="download(ex)"
                                    class="glyphicon glyphicon-download"></span>
                            </td>
                            <td>
                                <span>{{ex.status}}</span>
                            </td>
                        </tr>
                    </table>
                    <button type="submit" class="btn btn-default" ng-click="remove()" ng-disabled="downloadExisting.$invalid">Remove</button>
                </div>
            </form>
        </div>
    </div>
</div>