<div ng-controller="SetController" id="manage_clientPage">

    <h2>set</h2>

    <!-- no moderator is logged in -->
    <div ng-hide="moderator.name">
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            You need to be logged in as a moderator. See the moderator screen how to do so.
            <a class="pull-right" style='cursor:pointer;' ui-sref="manage.moderator">
                To moderator screen
            </a>
        </div>
    </div>

    <div ng-show="moderator.name">
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-ok-sign"></span>
            You are logged in as moderator {{moderator.name}}
        </div>
    </div>


    <!--
    <!-- SECTION TO ADD A STYLE BY NAME
    <!-- -->
    <hr/>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">create</label>
            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text" ng-model="newStyleName" class="form-control" placeholder="enter name for new style...">
                    <span class="input-group-btn">
                        <button ng-click="style.createStyle(newStyleName)" class="btn btn-default" type="button">Write!</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
    
    <!--
    <!-- SECTION TO LOAD AN EXISTING STYLE BY NAME
    <!-- -->
    <hr/>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">select</label>
            <div class="col-sm-4">
                <div class="input-group">
                    <input 
                        type="text" 
                        id="newStyleName" 
                        class="form-control" 
                        placeholder="enter name of style to select..."
                        typeahead="st.name for st in style.styles | filter:$viewValue"
                        ng-model="selectStyle"
                        >
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="style.loadStyle(selectStyle)">Load!</button>
                    </span>
                </div>
            </div>
            <label for="inputPassword3" class="col-sm-2 control-label">or pick from dropdown</label>
            <div class="col-sm-2">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                    select style <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="st in style.styles">
                        <a style="cursor:pointer;" ng-click="style.loadStyle(st.name)">{{st.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2">
                <div ng-show="style.style.name" class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    Loaded: {{style.style.name}}
                </div>
            </div>
        </div>
    </form>
    
    <!--
    <!-- SECTION TO DISPLAY THE SELECTED STYLE
    <!-- -->
    <hr/>
    <div ng-show="style.style.name">
        <h4>current properties of the selected style</h4>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-1">
                    <div class="input-group">
                        <button class="btn btn-default" type="button" ng-click="style.deleteStyle()">Delete!</button>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="input-group">
                        <button class="btn btn-default" type="button" ng-click="style.saveStyle()">Save!</button>
                    </div>
                </div>
            </div>
        </form>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>name</th>
              <th>icon</th>
              <th>rules</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td><input type="text" ng-model="style.style.name" class="form-control"></td>
              <td><input type="text" ng-model="style.style.iconurl" class="form-control" id="style_iconurl" ng-click="browseServer('#style_iconurl')"/>
              <td>
                  <table class="table">
                      <thead>
                          <tr>
                            <th>#</th>
                            <th>type</th>
                            <th>description</th>
                            <th>value</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="r in style.style.ruleset.sharedRule">
                              <td>{{r.id}}</td>
                              <td>{{r.type}}</td>
                              <td>{{r.description}}</td>
                              <td><input type="text" ng-model="r.value" class="form-control"></td>
                          </tr>
                      </tbody>
                  </table>
              </td>
            </tr>
          </tbody>
        </table>
    </div>

    <!--
    <!-- SECTION TO CREATE A SUBSET FROM THE SELECTED STYLE
    <!-- -->
    <hr/>
    <h4>create subset of style</h4>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">select</label>
            <div class="col-sm-4">
                <div class="input-group">
                    <input 
                        type="text" 
                        id="newStyleName" 
                        class="form-control" 
                        placeholder="enter name of style to create subset from..."
                        ng-model="subsetCreationStyle"
                        typeahead="st.name for st in style.styles | filter:$viewValue"
                        >
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="style.createSubset(subsetCreationStyle)">Create subset!</button>
                    </span>
                </div>
            </div>
            <label for="inputPassword3" class="col-sm-2 control-label">or pick from dropdown</label>
            <div class="col-sm-2">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                    select style <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="st in style.styles">
                        <a style="cursor:pointer;" ng-click="style.createSubset(st.name)">{{st.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>