<div ng-controller="ModerateProjectController" id="manage_adminLoginPage">
    <h2>selected project</h2>
    <div class="container">
        <div class="row" ng-repeat="p in fprojects">
            <div class="col-md-2">
                <input class="pull-right" type="radio" name="projectId" ng-model="$parent.sproject.id" ng-value="p.id" />
            </div>
            <div class="col-md-2">
                {{p.name}}
            </div>
        </div>
    </div>
</div>