<div ng-controller="InstallController">
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Please wait</h4>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    
    
    
    <h1>INSTALL</h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <div ng-include="adminTemplate"></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div ng-include="adminsTemplate"></div>
        </div>
    </div>
    
    
    
    <!-- SECTION DIRECTORIES -->
    <div class="panel panel-default" ng-hide="status === null">
        <div class="panel-body">
            <h2>system directories</h2>
            <div class="alert alert-danger" role="alert" ng-show='status.existingDirectoriesCount < status.directories.length'>
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                Watch out! {{status.existingDirectoriesCount}} of {{status.directories.length}} required directories exist.
                <a style='cursor:pointer;' ng-click="directoriesOpen = !directoriesOpen">
                    Click to view the directories.
                </a>
            </div>
            <div class="alert alert-info" role="alert" ng-hide='status.existingDirectoriesCount < status.directories.length'>
                <span class="glyphicon glyphicon-ok-sign"></span>
                All {{status.existingDirectoriesCount}} of {{status.directories.length}} required directories exist.
                <a style='cursor:pointer;' ng-click="directoriesOpen = !directoriesOpen">
                    Click to view the directories.
                </a>
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div id="collapseOne" class="panel-collapse collapse" ng-class="{in: directoriesOpen}">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li ng-repeat="d in status.directories" class="list-group-item" ng-class="{'list-group-item-danger': !d.exists}">
                                <input type="checkbox" ng-show="!d.exists" ng-click="installDir($event, d)">
                                {{d.dir}}
                            </li>
                        </ul>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    
    
    
    <!-- SECTION DATABASE -->
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>database</h2>
            <div class="alert alert-info" role="alert" ng-show="db_conf !== null && status.tables !== false">
                <span class="glyphicon glyphicon-ok-sign"></span>
                Your DB connection is OK. <a style='cursor:pointer;' ng-click="dbUncollapsed = !dbUncollapsed">
                        Click to show/hide database settings.
                      </a>
            </div>
            <div class="alert alert-danger" role="alert" ng-show="db_conf === null">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                No database configuration was set. <a style='cursor:pointer;' ng-click="dbUncollapsed = !dbUncollapsed">
                        Click to show/hide database settings.
                      </a>
            </div>
            <div class="alert alert-danger" role="alert" ng-show="db_conf !== null && status.tables === false">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                Could not connect using the current database configuration. <a style='cursor:pointer;' ng-click="dbUncollapsed = !dbUncollapsed">
                        Click to show/hide database settings.
                      </a>
            </div>
        </div>
        <div class="panel-collapse" role="tabpanel" collapse="!dbUncollapsed">
            <div class="panel-body">
                <h3>load a configuration</h3>
                <p class="help-block">Menu entries represent host/database/username.</p>
                <div class="row">
                    <form novalidate role="form" name="loadDbConfiguration" class="col-md-3">
                        <select 
                            ng-model="dbConfig_selection" 
                            ng-options="value as value.hostname + '/' + value.database + '/' + value.username for value in status.db_confs"
                            ng-change="update_dbConfig_selection()">
                            <option value="">Load db configuration</option>
                        </select>
                    </form>
                    <form novalidate role="form" name="deleteDbConfiguration" class="col-md-3">
                        <select 
                            ng-model="dbConfig_delete" 
                            ng-options="value as value.hostname + '/' + value.database + '/' + value.username for value in status.db_confs"
                            ng-change="update_dbConfig_delete()">
                            <option value="">Delete db configuration</option>
                        </select>
                    </form>
                </div>
                <hr/>
                <h3>create or edit a configuration</h3>
                <form novalidate role="form" name="dbCredentials">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="hostname">database server name</label>
                            <input type="text" class="form-control" id="hostname" placeholder="enter hostname" ng-model="status.db_conf.hostname" required ng-pattern="/^[\/:\.a-zA-Z0-9]*$/">
                            <p class="help-block">if it's on the same machine enter "localhost" - only alphanumeric, slash, colon and dot allowed</p>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="database">database name</label>
                            <input type="text" class="form-control" id="database" placeholder="enter database" ng-model="status.db_conf.database" required ng-pattern="/^[a-zA-Z0-9_]*$/">
                            <p class="help-block">name of an empty database for ikcomponeer - only alphanumeric and underscore allowed</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="username">database user name</label>
                            <input type="text" class="form-control" id="username" placeholder="enter username" ng-model="status.db_conf.username" required ng-pattern="/^[_a-zA-Z0-9]*$/">
                            <p class="help-block">the name of the database user - only alphanumeric and underscore allowed</p>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="password">database user password</label>
                            <input type="text" class="form-control" id="password" placeholder="enter password" ng-model="status.db_conf.password" required ng-pattern="/^[a-zA-Z0-9]*$/">
                            <p class="help-block">the password of the database user - only alphanumeric allowed</p>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default pull-right" ng-click="saveDbCredentials()" ng-disabled="dbCredentials.$invalid">Overwrite</button>
                    <button type="button" class="btn btn-default pull-right" ng-click="createDbCredentials()" ng-disabled="dbCredentials.$invalid">Create</button>
                    <button type="button" class="btn btn-default pull-right" ng-click="testDbCredentials()" ng-disabled="dbCredentials.$invalid">Test</button>
                </form>
            </div>
        </div>
    </div>
    
    
    <!-- SECTION DATA -->
    <div class="panel panel-default" ng-hide="status.tables === false">
        <div class="panel-body">
            <h2>data</h2>
            <div class="alert alert-info" role="alert" ng-show="status.tables !== false">
                <span class="glyphicon glyphicon-ok-sign"></span>
                There's a list of {{status.tables.length}} database tables. <a style='cursor:pointer;' ng-click="tablesUncollapsed = !tablesUncollapsed">
                    Click to show/hide tables.
                </a>
                <span ng-show="dbBackup_selection" class="pull-right">
                    <span> Really import {{status.db_backups[dbBackup_selection]}}?? </span>
                    <input type="button" ng-click="run_db_backup()" value="Import"></input>
                </span>
                <select 
                    style="margin-right:8px;"
                    class="pull-right"
                    ng-model="dbBackup_selection" 
                    ng-options="k as v for (k, v) in status.db_backups"
                    ng-change="update_dbBackup_selection()">
                    <option value="">Import database</option>
                </select>
            </div>
        </div>
        <div class="panel-collapse" role="tabpanel" collapse="!tablesUncollapsed">
            <div class="panel-body">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>table name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="t in status.tables">
                            <td>{{t.tableName}}</td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-default pull-right" ng-click="dropAllTables()" >Drop all tables</button>
            </div>
        </div>
    </div>
    
    
    
    <!-- SECTION PROJECTS -->
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>projects</h2>
            <div class="alert alert-danger" role="alert" ng-show="status.projects === false">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                There are currently no projects in the database. Maybe you have to run a DB import?
            </div>
            <div class="alert alert-info" role="info" ng-show="status.projects !== false">
                <span class="glyphicon glyphicon-ok-sign"></span>
                You have {{Enumerable.From(status.projects).Count()}} projects in your database. 
                <a style='cursor:pointer;' ng-click="projectsUncollapsed = !projectsUncollapsed">
                    Click here to show/hide project install tasks. 
                </a>
                <a class="pull-right" style='cursor:pointer; margin-right: 5px;' ng-click="create_project()">
                    Create
                </a>
                <a class="pull-right" style='cursor:pointer; margin-right: 5px;' ng-click="sync_projects()">
                    Sync
                </a>
            </div>
        </div>
        
        
        
        <div class="panel-collapse" role="tabpanel" collapse="!projectsUncollapsed">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="p in status.projects">
                    <div class="row">
                        <h3 style="cursor:pointer;">
                            <span class="col-md-1">
                                <button ng-click="projectUncollapsed[p.name] = !projectUncollapsed[p.name]" type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-folder-open pull-right"></span>
                                </button>
                                <button ng-click="edit_project(p.name)" type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-edit pull-right"></span>
                                </button>
                            </span>
                            <span class="col-md-2">project: {{p.name}}</span>
                        </h3>
                    </div>

                    <table class="table" collapse="!projectUncollapsed[p.name]">
                        <thead>
                            <tr class="row">
                                <th>#</th>
                                <th>path</th>
                                <th>installed</th>
                                <th>install</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row {{dirprop.exists ? 'bg-success' : 'bg-danger'}}" ng-repeat="dirprop in $parent.status.installDirsByProject[p.name].install_dirs">
                                <td>{{$index}}</td>
                                <td class="col-md-2">{{dirprop.dir}}</td>
                                <td class="col-md-1"><span class="{{dirprop.exists ? 'glyphicon glyphicon-ok-sign' : 'glyphicon glyphicon-exclamation-sign'}}"></span></td>
                                <td class="col-md-2"><input type="checkbox" ng-show="!dirprop.exists" ng-click="installDir($event, dirprop)"></td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
        
        
        
        <div class="panel panel-default" role="tabpanel" ng-show="createProjectScreenOpen">
            <div class="panel-body">
                <h3 ng-show="!(cProj.id)">create project</h3>
                <h3 ng-show="cProj.id">edit project</h3>
                <form novalidate name="addDomainForm">
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <div>
                                <label for="addDomain">add domain to database</label>
                                <input name="addDomain" id="addDomain" type="url" placeholder="add" ng-model="cBaseurl">
                                <a style="cursor:pointer;" ng-click="add_domain()">
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
                <hr/>
                <form novalidate role="form" name="createProjectForm">
                    <input type="hidden" name="cProjId" ng-value="{{cProj.id}}" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row bg-danger">
                                <div class="form-group col-md-6">
                                    <label for="projectname">name</label>
                                    <input ng-disabled="cProj.id" type="text" class="form-control" id="projectname" placeholder="enter project name" ng-model="cProj.name" required ng-pattern="/^[a-zA-Z0-9]*$/">
                                    <p class="help-block"><strong>only alphanumerical characters allowed - this key value can not be changed for a project</strong></p>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="projectclient">client</label><br/>
                                    <select 
                                        ng-model="cProj.client" 
                                        ng-options="item as item.name for item in status.clients track by item.id"
                                        ng-disabled="cProj.id"
                                        >
                                        <option value="">choose client</option>
                                    </select>
                                    <p class="help-block"><strong>reuse user base and login system - this key value can not be changed for a project</strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="projecttitle">title</label>
                                    <input type="text" class="form-control" id="projecttitle" placeholder="enter project title" ng-model="cProj.title" required >
                                    <p class="help-block">example: The Ultimate Project - this value can be changed at a later moment</p>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="projectDomain">default project domain</label>
                                    <input  
                                        type="url"
                                        required 
                                        ng-model="cProj.domain.baseurl"
                                        class="form-control" 
                                        id="projectDomain" 
                                        placeholder="type the base url"
                                        typeahead="d.baseurl for d in status.domains | filter:{baseurl:$viewValue} | limitTo:8" 
                                        name="projectDomain">
                                    <p class="help-block">default domain - use the auto complete options to reuse an existing domain or add a domain in format http://[domain].[topleveldomain]. You may change this value anytime.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="sharedDomain">additional domains</label>
                            <p class="help-block">allow startup under these domains as well (for development or testing purposes). You may change these values at a later time.</p>
                            <select name="sharedDomain" id="sharedDomain" style="height:300px;" class="form-control" multiple ng-multiple="true" ng-model="cProj.sharedDomain" ng-options="i.baseurl for i in status.domains track by i.id"></select>
                        </div>
                        <div class="col-md-4">
                            <label for="logLevel">log level</label><br/>
                            <div class="btn-group" role="group" ng-repeat="(desc, value) in status.log_levels">
                                <button class="btn btn-default" type="button" ng-model="$parent.cProj.logthresh" btn-radio="value" required>{{desc}}</button>
                            </div>
                            <p class="help-block">choose a log level for the project (can be changed anytime)</p>
                            <label for="cbMode">cache buster mode</label><br/>
                            <div class="btn-group" role="group" ng-repeat="v in status.cb_modes">
                                <button class="btn btn-default" type="button" ng-model="$parent.cProj.cbmode" btn-radio="v" required>{{v}}</button>
                            </div>
                            <p class="help-block">choose a cache buster mode (can be changed anytime)</p>
                            <label for="playlist">playlist: </label>
                            <div ng-show="cProj.ownPlaylist.length">
                                <span>This project has playlist {{cProj.ownPlaylist[0].id}}</span><br/>
                                <span>The playlist contains compositions created in these projects:</span><br/>
                                <select name="playlist_sharedProject" id="playlist_sharedProject" style="height:300px;" class="form-control" multiple ng-multiple="true" ng-model="cProj.ownPlaylist[0].sharedProject" ng-options="p.name for p in status.projects track by p.id"></select>
                                <span>The playlist has {{cProj.ownPlaylist[0].count}} entries. </spam>
                                <span> </span>
                                <a style='cursor:pointer;' ng-click="build_playlist_for_cproj()">build</a>
                            </div>
                            <div ng-show="cProj.ownPlaylist.length === 0">
                                <span>This project has no playlist.</span>
                                <a style='cursor:pointer;' ng-click="add_playlist_to_cproj()">add</a>
                            </div>
                        </div>
                    </div>
                    <button ng-show="!(cProj.id)" type="button" class="btn btn-default pull-right" ng-click="writeProject()" ng-disabled="createProjectForm.$invalid">Write/Create</button>
                    <button ng-show="cProj.id" type="button" class="btn btn-default pull-right" ng-click="writeProject()" ng-disabled="createProjectForm.$invalid">Write/Save</button>
                </form>
            </div>
        </div>
        
        
        
    </div>
    
    
    
    
    
    
    <!-- SECTION MEDIA FILES -->
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>media files</h2>
            <div class="alert alert-info" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                Use this section to upload MP3 files, images, etcetera.
            </div>
        </div>
    </div>
    
</div>