<div ng-controller="ViewAgentsController" id="manage_viewAgentsPage">
    
    <h1>View Mixage Agents (last hour)</h1>
    
    <h4>number of tasks</h4>
    <svg id="tasksGraph" width="1000" height="250"></svg>
    <h4>number of agents</h4>
    <svg id="agentsGraph" width="1000" height="250"></svg>
    
</div>