<div ng-controller="NavController">
    <nav class="navbar navbar-default" role="navigation" style="margin-bottom:0px;">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" ng-click="template=initialTemplate">Manage Ikcomponeer</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="btn-group" dropdown is-open="status.isopen" style="margin-top:8px;">
              <button type="button" class="btn btn-danger">System</button>
              <button type="button" class="btn btn-danger dropdown-toggle" ng-model="template">
                <span class="caret"></span>
                <span class="sr-only">Split button!</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a ui-sref="manage.install">Install</a></li>
                <li><a ui-sref="manage.export-devenv">Export DevEnv</a></li>
                <li><a ui-sref="manage.test-e2e">Test E2E</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://nu.nl">To Project</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a ui-sref="manage.viewAgents">Agents</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="divide-nav">
      <div class="bg-primary">
        <!-- agent gaan we openen via manage pagina, zodat we niet meer met een URL hoeven te werken
        
        
        
        <!--
        
        1. user scherm. 
        
        Hier kan een admin met typeahead een user uitzoeken. 
        Als er dezelfde namen zijn, dan ID erachter tussen haakjes. 
        Ter controle de fields van openID erbij in een dataveld.
        
        Geselecteerde user moet een of meer projecten toegewezen krijgen.
        Hiervan is hij dan de moderator als op de "create role" knop wordt gedrukt.

        Naast moderator moeten ook agent permissies toegekend kunnen worden.
        
        -->
        
        <!-- admin - je ziet of je als admin bent ingelogd, dan zie je je naam. Klik erop om uit te loggen of in te loggen als admin. -->
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <strong>admin &#8594; <a ui-sref="manage.adminLogin" style="text-decoration:underline; color:white; cursor:pointer;">{{(admin.name ? admin.name : 'none')}}</a>;</strong>
        
        
        <!-- moderator 
        
        als een moderator is ingelogd staat hier zijn naam. 
        klikt hij erop krijgt hij een bericht dat hij via de componeertool kan in- en uitloggen
        
        -->
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <strong>moderator &#8594; <a ui-sref="manage.moderator" style="text-decoration:underline; color:white; cursor:pointer;">{{moderator.name ? moderator.name : 'none'}}</a>;</strong>
        
        
        
        <!-- moderator may be confined to project 
        
        is er geen moderator ingelogd staat er niks (een minnetje dus)
        is hij ingelogd en heeft meerdere projecten en nog geen geselecteerd staat er een vraagteken
        heeft hij er maar eentje of heeft hij er al eentje geselecteerd dan staat dat project hier genoemd
        
        -->
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <strong>project &#8594; <a ui-sref="manage.project" style="text-decoration:underline; color:white; cursor:pointer;">{{project}}</a>;</strong>
        
        
        
        <!-- then he wants to add music 
        
        indien een set in de werkset zit, staat de naam hier
        anders kan je bij klikken kiezen om bestaande te bewerken of nieuwe aan te maken
        sets kunnen worden gedownload
        sets kunnen worden geupload
        
        individuele blokjes kunnen worden weggehaald uit de set, of toegevoegd
        
        dit kan niet als de set is gebruikt in een compositie - dan krijg je de vermaning dat je die compositie dan moet weghalen als je kan
        
        toevoegen kan met upload. eigenschappen als exitpoint en tag per blokje.
        
        van een set kan je een subset aanmaken
        
        je kan een bestaande ruleset hergebruiken (kopieren) zodoende dus een nieuwe aanmaken
        
        -->
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <strong>set &#8594; <a ui-sref="manage.set" style="text-decoration:underline; color:white; cursor:pointer;">{{set}}</a>;</strong>
        
        
        
        
        <!-- and create subset 
        
        
        voor deze set activeren van clips, door er eigenschappen voor de display aan toe te voegen. je kan ook een template genereren uit de subset
        
        -->
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <strong>subset &#8594; <a ui-sref="manage.subset" style="text-decoration:underline; color:white; cursor:pointer;">{{subset}}</a>;</strong>
        
        
        
        <!-- or pool 
        
        je kan een bestaande ruleset kopieren en daarmee een nieuwe aanmaken
        je kan pools chainen
        met de naamgeving komt een input url beschikbaar, dit is tijdsgebonden
        je kan met de gegenereerde toevoegpagina dan ook alvast zelf clips toevoegen
        je kan een template genereren uit de pool
        
        -->
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <strong>pool &#8594; <a style="text-decoration:underline; color:white; cursor:pointer;">{{pool}}</a>;</strong>
        
        
        
        <!-- and template for users 
        
        de template heeft eventueel specifieke instellingen zoals het verbergen van subparts
        de template kan een slogan of instructie(video?) hebben
        de template kan knopjes functionaliteit hebben die variabel is
        de template kan display functioneliteit hebben voor de hele tool die variabel is
        deze kan gekopieerd worden uit een andere template
        
        je kan de template openen in de simulator
        als je in de simulator opslaat, dan zet je blokjes neer die iedereen in beeld zal hebben als hij ermee werkt
        
        -->
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <strong>template &#8594; <a ui-sref="manage.template" style="text-decoration:underline; color:white; cursor:pointer;">{{template}}</a>;</strong>
        
        
        <!-- and specific template settings -->
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <strong>scroll &#8594; <a ui-sref="manage.scroll" style="text-decoration:underline; color:white; cursor:pointer;">{{scroll}}</a>;</strong>
        <!-- and specific steps 
        
        
        
        met steps kan je een setje templates aanmaken die elke gebruiker kan doorlopen
        je bepaalt het aantal stappen en je bepaalt welke template per stap wordt geopend op de kunstgebouw manier
        templates die in een step toegepast worden krijgen een vlaggetje, ze kunnen niet in een scroll worden gebruikt en zijn getekend voor het leven
        
        -->
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <strong>steps &#8594; <a style="text-decoration:underline; color:white; cursor:pointer;">{{steps}}</a>;</strong>
      </div>
    </div>
    <div style="margin: 30px 30px; padding: 20px 20px; border:1px solid Gainsboro;"><div ui-view><h1>Choose one of the options to start...</h1></div></div>
  </div>