<div ng-controller="AdminLoginController" id="manage_adminLoginPage">
    <h2>admin login</h2>
    <div class="alert alert-info" role="alert" ng-show="admin.name !== ''">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        Logged in as administrator {{admin.name}}. 
        
        <a class="pull-right" style='cursor:pointer;' ng-click="log_out()">
            Log Out
        </a>
        
        <a style="margin-right: 20px;cursor:pointer;" class="pull-right" ng-click="test_auth()">
            Test
        </a>
        
    </div>
    <div ng-show="admin.name === ''">
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            You are currently not logged in as an administrator.
        </div>
        <form novalidate role="form" name="loginForm">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="loginname">name</label>
                    <input type="text" class="form-control" id="loginname" placeholder="enter admin name" ng-model="admin.loginName" required ng-pattern="/^[a-zA-Z0-9]*$/">
                    <p class="help-block">only alphanumerical characters allowed</p>
                </div>
                <div class="form-group col-md-6">
                    <label for="loginpass">password</label>
                    <input type="text" class="form-control" id="loginpass" placeholder="enter admin password" ng-model="admin.loginPassword" required ng-pattern="/^[a-zA-Z0-9]*$/">
                    <p class="help-block">only alphanumerical characters allowed</p>
                </div>
            </div>
            <button type="button" class="btn btn-default pull-right" ng-click="log_in()" ng-disabled="loginForm.$invalid">Log In</button>
        </form>
    </div>
</div>