 <div ng-controller="SubsetController" id="manage_clientPage">
    
    <h2>subset</h2>
    
    <!-- no moderator is logged in -->
    <div ng-hide="moderator.name">
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            You need to be logged in as a moderator. See the moderator screen how to do so.
            <a class="pull-right" style='cursor:pointer;' ui-sref="manage.moderator">
                To moderator screen
            </a>
        </div>
    </div>
    <!-- moderator logged in -->
    <div ng-show="moderator.name">
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-ok-sign"></span>
            You are logged in as moderator {{moderator.name}}
        </div>
    </div>
    
    <div ng-show="moderator.name" style="min-width:1480px;">
        <div class="alert alert-info" role="alert">
            <span class="lead">About subset modification</span><br/>
            <a style='cursor:pointer;' ng-click="subsetHelpTextUncollapsed = !subsetHelpTextUncollapsed">
                show / hide info text
            </a><br/>
            <a style='cursor:pointer;' ng-click="subsetSelectionUncollapsed = !subsetSelectionUncollapsed">
                show / hide selection
            </a><br/><br/>
            <div ng-show="subsetHelpTextUncollapsed">
                <strong>info</strong>
                <p>
                    You can search a subset by its name, by its parent musicset name or by the name of a template that uses the subset.
                    The template you select, will be used for the preview that will show you the results of your modifications.
                    If the subset is already used in user's compositions it will not be allowed to remove clips from it.
                </p>
            </div>
            <div ng-show="subsetSelectionUncollapsed">
                <strong>selection</strong>
                <div class="row">
                    <div class="col-md-4">
                        filter on musicset
                    </div>
                    <div class="col-md-4">
                        filter on subset
                    </div>
                    <div class="col-md-4">
                        select template for preview (number of user compositions between [])
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">musicset</div>
                            <div class="col-md-6">
                                <select 
                                    name="select_musicset" 
                                    id="select_musicset" 
                                    class="form-control" 
                                    ng-model="sstyle" 
                                    ng-options="s.style_name for s in fstyles track by s.style_id"
                                    ng-change="get()">
                                </select>
                            </div>
                            <div class="col-md-2 " ng-show="sstyle.style_id">
                                <span style="cursor:pointer; color:red;" class="glyphicon glyphicon-remove-circle" ng-click="reset_style()"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">subset</div>
                            <div class="col-md-6">
                                <select 
                                    name="select_subset" 
                                    id="select_subset" 
                                    class="form-control" 
                                    ng-model="ssubset" 
                                    ng-options="s.subset_name for s in fsubsets track by s.subset_id"
                                    ng-change="get()">
                                </select>
                            </div>
                            <div class="col-md-2 " ng-show="ssubset.subset_id">
                                <span style="cursor:pointer; color:red;" class="glyphicon glyphicon-remove-circle" ng-click="reset_subset()"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">template</div>
                            <div class="col-md-6">
                                <select 
                                    name="select_template" 
                                    id="select_template" 
                                    class="form-control" 
                                    ng-model="stemplate" 
                                    ng-options="s.template_name + ' [' + s.num_user_compositions + ']' for s in ftemplates track by s.template_id"
                                    ng-change="getSubsetAndColors(stemplate.subset_id)">
                                </select>
                            </div>
                            <div class="col-md-2 " ng-show="stemplate.template_id">
                                <span style="cursor:pointer; color:red;" class="glyphicon glyphicon-remove-circle" ng-click="reset_template()"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">per comp. id (tpl name)</div>
                            <div class="col-md-6">
                                <select 
                                    name="select_template" 
                                    id="select_template" 
                                    class="form-control" 
                                    ng-model="stemplate" 
                                    ng-options="s.composition_id + ' (' + s.template_name + ')' for s in ftemplates track by s.template_id"
                                    ng-change="getSubsetAndColors(stemplate.subset_id)">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="edited.id">
            <h4>editor of subset</h4>
            <p>
                <a class="btn btn-default" 
                    role="button"
                    ng-click="getSubsetAndColors(edited.id)"
                    style="top: -1px;position: relative;">
                     <span class="glyphicon glyphicon-repeat"></span>
                 </a>
                <span 
                    style="cursor:pointer; color:blue;" 
                    class="glyphicon glyphicon-question-sign" 
                    ng-click="openHelpModal('restore')"
                    ></span>
                <a class="btn btn-default" 
                    role="button"
                    ng-click="storeEdited()"
                    style="top: -1px;position: relative; margin-left:25px;">
                     <span class="glyphicon glyphicon-floppy-disk"></span>
                 </a>
                <span 
                    style="cursor:pointer; color:blue;" 
                    class="glyphicon glyphicon-question-sign" 
                    ng-click="openHelpModal('storeEdited')"
                    ></span>
                <a class="btn btn-default" 
                    role="button"
                    ng-click="openTemplateInFlash(stemplate.composition_id)"
                    style="top: -1px;position: relative; margin-left:25px;">
                     <span class="glyphicon glyphicon-open"></span>
                 </a>
                <span 
                    style="cursor:pointer; color:blue;" 
                    class="glyphicon glyphicon-question-sign" 
                    ng-click="openHelpModal('openInFlash')"
                    ></span>
                <a class="btn btn-default" 
                    role="button"
                    ng-click="duplicateSubset()"
                    style="top: -1px;position: relative; margin-left:25px;">
                     <span class="glyphicon glyphicon-duplicate"></span>
                 </a>
                <span 
                    style="cursor:pointer; color:blue;" 
                    class="glyphicon glyphicon-question-sign" 
                    ng-click="openHelpModal('duplicateSubset')"
                    ></span>
            </p>
            <div class="row bg-success">
                <div class="col-md-1"><label style="margin-top:7px;">subset name:</label></div>
                <div class="col-md-2">
                    <input type="text"
                           ng-model="edited.name"
                           class="form-control"/>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">add subpart: <span style="cursor:pointer;" ng-click="addSubpart()" class="glyphicon glyphicon-plus"></span></div>
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <span ng-show="!subsetEdit" style="cursor:pointer;" ng-click="subsetEdit = !subsetEdit" class="glyphicon glyphicon-plus"></span>
                    <span ng-show="subsetEdit" style="cursor:pointer;" ng-click="subsetEdit = !subsetEdit" class="glyphicon glyphicon-minus"></span>
                    click to edit all sub items at once
                </div>
            </div>
            <div class="row" ng-show="subsetEdit">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="bs-callout bs-callout-danger">
                            <h4>Edit each of sub items at once.</h4>
                            <p>This will affect all underlying fields! You may loose a lot of work. Use responsibly...</p>
                        </div>
                        <hr/>
                        <h4>all subparts</h4>
                        <div class="row">
                            <div class="col-md-1" >
                                <strong>name</strong>
                                <span 
                                    style="cursor:pointer; color:blue;" 
                                    class="glyphicon glyphicon-question-sign" 
                                    ng-click="openHelpModal('subpartName')"
                                    ></span>
                            </div>
                            <div class="col-md-1" >
                                <strong>order</strong>
                                <span 
                                    style="cursor:pointer; color:blue;" 
                                    class="glyphicon glyphicon-question-sign" 
                                    ng-click="openHelpModal('subpartOrderAll')"></span>
                            </div>
                            <div class="col-md-1" >
                                <strong>active</strong>
                                <span 
                                    style="cursor:pointer; color:blue;" 
                                    class="glyphicon glyphicon-question-sign" 
                                    ng-click="openHelpModal('subpartActive')"></span>
                            </div>
                            <div class="col-md-1" >
                                <strong>marginx</strong>
                                <span 
                                    style="cursor:pointer; color:blue;" 
                                    class="glyphicon glyphicon-question-sign" 
                                    ng-click="openHelpModal('subpartMarginX')"></span>
                            </div>
                            <div class="col-md-1" >
                                <strong>marginy</strong>
                                <span 
                                    style="cursor:pointer; color:blue;" 
                                    class="glyphicon glyphicon-question-sign" 
                                    ng-click="openHelpModal('subpartMarginY')"></span>
                            </div>
                            <div class="col-md-1" >
                                <strong>width</strong>
                                <span 
                                    style="cursor:pointer; color:blue;" 
                                    class="glyphicon glyphicon-question-sign" 
                                    ng-click="openHelpModal('subpartWidth')"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <input type="text"
                                       ng-model="allSubsets.name"
                                       ng-change="updateAllSubsets('name',allSubsets.name)"
                                       class="form-control"/>
                            </div>
                            <div class="col-md-1" >
                                <input type="text"
                                       ng-model="allSubsets.order"
                                       ng-change="updateAllSubsets('order',allSubsets.order)"
                                       style="width:50px; display:inline-block;"
                                       class="form-control"/>
                                <a class="btn btn-default" 
                                   role="button"
                                   ng-click="autoOrderAllSubparts()"
                                   style="top: -1px;position: relative;">
                                    <span class="glyphicon glyphicon-sort-by-attributes"></span>
                                </a>
                            </div>
                            <div class="col-md-1" >        
                                <input type="checkbox"
                                       ng-model="allSubsets.active"
                                       ng-change="updateAllSubsets('active',allSubsets.active)"
                                       ng-true-value="'1'"
                                       ng-false-value="'0'"
                                       class="form-control"
                                       style="margin:0px;"/>
                            </div>
                            <div class="col-md-1" >
                                <input type="text"
                                       ng-model="allSubsets.marginx"
                                       ng-change="updateAllSubsets('marginx',allSubsets.marginx)"
                                       class="form-control"/>
                            </div>
                            <div class="col-md-1" >
                                <input type="text"
                                       ng-model="allSubsets.marginy"
                                       ng-change="updateAllSubsets('marginy',allSubsets.marginy)"
                                       class="form-control"/>
                            </div>
                            <div class="col-md-1" >
                                <input type="text"
                                       ng-model="allSubsets.width"
                                       ng-change="updateAllSubsets('width',allSubsets.width)"
                                       class="form-control"/>
                            </div>
                        </div>
                        <hr/>
                        <h4>all clips of all subparts</h4>
                        <div class="row">
                            <div class="col-md-1" style="padding-top:5px;">
                                <strong>clip name</strong>
                                <span 
                                    style="cursor:pointer; color:blue;" 
                                    class="glyphicon glyphicon-question-sign" 
                                    ng-click="openHelpModal('clipName')"></span>
                            </div>
                            <div class="col-md-1" style="padding-top:5px;">
                                <strong>active</strong>
                                <span 
                                    style="cursor:pointer; color:blue;" 
                                    class="glyphicon glyphicon-question-sign" 
                                    ng-click="openHelpModal('clipActive')"></span>
                            </div>
                            <div class="col-md-1" style="padding-top:5px;">
                                <strong>tag</strong>
                                <span 
                                    style="cursor:pointer; color:blue;" 
                                    class="glyphicon glyphicon-question-sign" 
                                    ng-click="openHelpModal('clipTag')"></span>
                            </div>
                            <div class="col-md-1" style="padding-top:5px;">
                                <strong>order</strong>
                                <span 
                                    style="cursor:pointer; color:blue;" 
                                    class="glyphicon glyphicon-question-sign" 
                                    ng-click="openHelpModal('clipOrderAll')"></span>
                            </div>
                            <div class="col-md-1" style="padding-top:5px;">
                                <strong>color</strong>
                                <span 
                                    style="cursor:pointer; color:blue;" 
                                    class="glyphicon glyphicon-question-sign" 
                                    ng-click="openHelpModal('clipColorAll')"></span>
                            </div>
                            <div class="col-md-1" style="padding-top:5px;">
                                <strong>width</strong>
                                <span 
                                    style="cursor:pointer; color:blue;" 
                                    class="glyphicon glyphicon-question-sign" 
                                    ng-click="openHelpModal('clipWidth')"></span>
                            </div>
                            <div class="col-md-1" style="padding-top:5px;">
                                <strong>height</strong>
                                <span 
                                    style="cursor:pointer; color:blue;" 
                                    class="glyphicon glyphicon-question-sign" 
                                    ng-click="openHelpModal('clipHeight')"></span>
                            </div>
                            <div class="col-md-2" style="padding-top:5px;">
                                <strong>audio</strong>
                                <span 
                                    style="cursor:pointer; color:blue;" 
                                    class="glyphicon glyphicon-question-sign" 
                                    ng-click="openHelpModal('clipAudio')"></span>
                            </div>
                            <div class="col-md-3" style="padding-top:5px;">
                                <strong>icon</strong>
                                <span 
                                    style="cursor:pointer; color:blue;" 
                                    class="glyphicon glyphicon-question-sign" 
                                    ng-click="openHelpModal('clipIcon')"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1" >
                                <input type="text"
                                       ng-model="clipsOfSubset.name"
                                       ng-change="updateAllClipsOfSubset('name',clipsOfSubset.name)"
                                       class="form-control"/>
                            </div>
                            <div class="col-md-1" >        
                                <input type="checkbox"
                                       ng-model="clipsOfSubset.active"
                                       ng-change="updateAllClipsOfSubset('active',clipsOfSubset.active)"
                                       ng-true-value="'1'"
                                       ng-false-value="'0'"
                                       class="form-control"
                                       style="margin:0px;"/>
                            </div>
                            <div class="col-md-1" >
                                <input type="text"
                                       ng-model="clipsOfSubset.tag"
                                       ng-change="updateAllClipsOfSubset('tag',clipsOfSubset.tag)"
                                       class="form-control"/>
                            </div>
                            <div class="col-md-1" >
                                <input type="text"
                                       ng-model="clipsOfSubset.order"
                                       ng-change="updateAllClipsOfSubset('order',clipsOfSubset.order)"
                                       style="width:50px; display:inline-block;"
                                       class="form-control"/>
                                <a class="btn btn-default" 
                                   role="button"
                                   ng-click="autoOrderAllClipsOfAllSubparts()"
                                   style="top: -1px;position: relative;">
                                    <span class="glyphicon glyphicon-sort-by-attributes"></span>
                                </a>
                            </div>
                            <div class="col-md-1" >
                                <input type="text"
                                       ng-model="clipsOfSubset.color"
                                       ng-change="updateAllClipsOfSubset('color',clipsOfSubset.color)"
                                       class="form-control"
                                       style="background-color:{{clipsOfSubset.color}}; width:50px; display:inline-block;"
                                       colorpicker/>
                                <a class="btn btn-default" 
                                   role="button"
                                   ng-click="randomColorSchemaForAllSubparts()"
                                   style="top: -1px;position: relative;">
                                    <span class="glyphicon glyphicon-random"></span>
                                </a>
                            </div>
                            <div class="col-md-1" >
                                <input type="text"
                                       ng-model="clipsOfSubset.width"
                                       ng-change="updateAllClipsOfSubset('width',clipsOfSubset.width)"
                                       class="form-control"/>
                            </div>
                            <div class="col-md-1">
                                <input type="text"
                                       ng-model="clipsOfSubset.height"
                                       ng-change="updateAllClipsOfSubset('height',clipsOfSubset.height)"
                                       class="form-control"/>
                            </div>
                            <div class="col-md-2">
                                ---
                            </div>
                            <div class="col-md-3">
                                <input type="text"
                                       ng-model="clipsOfSubset.icon"
                                       ng-change="updateAllClipsOfSubset('icon',clipsOfSubset.icon)"
                                       id="clipsOfSubsetIcon"
                                       ng-click="browseServer('#clipsOfSubsetIcon')"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1" style="padding-top:20px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-repeat="sp in edited.ownSubpart">
                <div class="row bg-info">
                    <div class="col-md-3">subpart {{sp.name}} [{{sp.id}}]</div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row bg-info">
                    <div class="col-md-1" >
                        <strong>name</strong>
                        <span 
                            style="cursor:pointer; color:blue;" 
                            class="glyphicon glyphicon-question-sign" 
                            ng-click="openHelpModal('subpartName')"></span>
                    </div>
                    <div class="col-md-1" >
                        <strong>order</strong>
                        <span 
                            style="cursor:pointer; color:blue;" 
                            class="glyphicon glyphicon-question-sign" 
                            ng-click="openHelpModal('subpartOrder')"></span>
                    </div>
                    <div class="col-md-1" >
                        <strong>active</strong>
                        <span 
                            style="cursor:pointer; color:blue;" 
                            class="glyphicon glyphicon-question-sign" 
                            ng-click="openHelpModal('subpartActive')"></span>
                    </div>
                    <div class="col-md-1" >
                        <strong>marginx</strong>
                        <span 
                            style="cursor:pointer; color:blue;" 
                            class="glyphicon glyphicon-question-sign" 
                            ng-click="openHelpModal('subpartMarginX')"></span>
                    </div>
                    <div class="col-md-1" >
                        <strong>marginy</strong>
                        <span 
                            style="cursor:pointer; color:blue;" 
                            class="glyphicon glyphicon-question-sign" 
                            ng-click="openHelpModal('subpartMarginY')"></span>
                    </div>
                    <div class="col-md-1" >
                        <strong>width</strong>
                        <span 
                            style="cursor:pointer; color:blue;" 
                            class="glyphicon glyphicon-question-sign" 
                            ng-click="openHelpModal('subpartWidth')"></span>
                    </div>
                </div>
                <div class="row bg-info">
                    <div class="col-md-1">
                        <input type="text"
                               ng-model="sp.name"
                               class="form-control"/>
                    </div>
                    <div class="col-md-1" >
                        <input type="text"
                               ng-model="sp.order"
                               class="form-control"/>
                    </div>
                    <div class="col-md-1" >        
                        <input type="checkbox"
                               ng-model="sp.active"
                               ng-true-value="'1'"
                               ng-false-value="'0'"
                               class="form-control"
                               style="margin:0px;"/>
                    </div>
                    <div class="col-md-1" >
                        <input type="text"
                               ng-model="sp.marginx"
                               class="form-control"/>
                    </div>
                    <div class="col-md-1" >
                        <input type="text"
                               ng-model="sp.marginy"
                               class="form-control"/>
                    </div>
                    <div class="col-md-1" >
                        <input type="text"
                               ng-model="sp.width"
                               class="form-control"/>
                    </div>
                    <div class="col-md-1" >
                        add clip: <span class="glyphicon glyphicon-plus" style="cursor:pointer;" ng-click="addClip(sp.id)"></span>
                    </div>
                </div>
                <div class="row bg-info">
                    <div class="col-md-8"></div>
                    <div class="col-md-2">
                        <span ng-show="!subpartClipsUncollapse[sp.id]" style="cursor:pointer;" ng-click="subpartClipsUncollapse[sp.id] = !subpartClipsUncollapse[sp.id]" class="glyphicon glyphicon-plus"></span>
                        <span ng-show="subpartClipsUncollapse[sp.id]" style="cursor:pointer;" ng-click="subpartClipsUncollapse[sp.id] = !subpartClipsUncollapse[sp.id]" class="glyphicon glyphicon-minus"></span>
                         edit clips
                    </div>
                </div>
                <div collapse="!subpartClipsUncollapse[sp.id]" class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="row">
                                <div class="col-md-1" style="padding-top:20px;"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="bs-callout bs-callout-danger">
                                        <h4>Edit all the clips in this section (subpart) at once.</h4>
                                        <p>Use the reload button to reset to original values.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1" style="padding-top:5px;">
                                    <strong>clip name</strong>
                                    <span 
                                        style="cursor:pointer; color:blue;" 
                                        class="glyphicon glyphicon-question-sign" 
                                        ng-click="openHelpModal('clipName')"></span>
                                </div>
                                <div class="col-md-1" style="padding-top:5px;">
                                    <strong>active</strong>
                                    <span 
                                        style="cursor:pointer; color:blue;" 
                                        class="glyphicon glyphicon-question-sign" 
                                        ng-click="openHelpModal('clipActive')"></span>
                                    <div class="pull-right">
                                        <strong>tag</strong>
                                        <span 
                                            style="cursor:pointer; color:blue;" 
                                            class="glyphicon glyphicon-question-sign" 
                                            ng-click="openHelpModal('clipTag')"></span>
                                    </div>
                                </div>
                                <div class="col-md-1" style="padding-top:5px;">
                                    <strong>order</strong>
                                    <span 
                                        style="cursor:pointer; color:blue;" 
                                        class="glyphicon glyphicon-question-sign" 
                                        ng-click="openHelpModal('clipOrderAll')"></span>
                                </div>
                                <div class="col-md-1" style="padding-top:5px;">
                                    <strong>color</strong>
                                    <span 
                                        style="cursor:pointer; color:blue;" 
                                        class="glyphicon glyphicon-question-sign" 
                                        ng-click="openHelpModal('clipColor')"></span>
                                </div>
                                <div class="col-md-1" style="padding-top:5px;">
                                    <strong>wdt</strong>
                                    <span 
                                        style="cursor:pointer; color:blue;" 
                                        class="glyphicon glyphicon-question-sign" 
                                        ng-click="openHelpModal('clipWidth')"></span>
                                    <span class="pull-right">
                                        <strong>hgt</strong>
                                        <span 
                                            style="cursor:pointer; color:blue;" 
                                            class="glyphicon glyphicon-question-sign" 
                                            ng-click="openHelpModal('clipHeight')"></span>
                                    </span>
                                </div>
                                <div class="col-md-3" style="padding-top:5px;">
                                    <strong>icon</strong>
                                    <span 
                                        style="cursor:pointer; color:blue;" 
                                        class="glyphicon glyphicon-question-sign" 
                                        ng-click="openHelpModal('clipIcon')"></span>
                                </div>
                                <div class="col-md-2" style="padding-top:5px;">
                                    <strong>audio</strong>
                                    <span 
                                        style="cursor:pointer; color:blue;" 
                                        class="glyphicon glyphicon-question-sign" 
                                        ng-click="openHelpModal('clipAudio')"></span>
                                </div>
                                <div class="col-md-1" style="padding-top:5px;">
                                    <strong>entry</strong>
                                    <span 
                                        style="cursor:pointer; color:blue;" 
                                        class="glyphicon glyphicon-question-sign" 
                                        ng-click="openHelpModal('clipEntrypoint')"></span>
                                </div>
                                <div class="col-md-1" style="padding-top:5px;">
                                    <strong>exit</strong>
                                    <span 
                                        style="cursor:pointer; color:blue;" 
                                        class="glyphicon glyphicon-question-sign" 
                                        ng-click="openHelpModal('clipExitpoint')"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1" >
                                    <input type="text"
                                           ng-model="clipsOfSubpart.name"
                                           ng-change="updateAllClipsOfSubpart(sp.id,'name',clipsOfSubpart.name)"
                                           class="form-control"/>
                                </div>
                                <div class="col-md-1" >        
                                    <input type="checkbox"
                                           ng-model="clipsOfSubpart.active"
                                           ng-change="updateAllClipsOfSubpart(sp.id,'active',clipsOfSubpart.active)"
                                           ng-true-value="'1'"
                                           ng-false-value="'0'"
                                           class="form-control"
                                           style="margin:0px; width:34px; float:left;"/>
                                    <span class="pull-right" style="width:69px;">
                                        <input type="text"
                                           ng-model="clipsOfSubpart.tag"
                                           ng-change="updateAllClipsOfSubpart(sp.id,'tag',clipsOfSubpart.tag)"
                                           class="form-control"/>
                                    </span>
                                </div>
                                <div class="col-md-1" >
                                    <input type="text"
                                           ng-model="clipsOfSubpart.order"
                                           ng-change="updateAllClipsOfSubpart(sp.id,'order',clipsOfSubpart.order)"
                                           style="width:50px; display:inline-block;"
                                           class="form-control"/>
                                    <a class="btn btn-default" 
                                       role="button"
                                       ng-click="autoOrderAllClipsOfSubpart(sp)"
                                       style="top: -1px;position: relative;">
                                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                                    </a>
                                </div>
                                <div class="col-md-1" >
                                    <input type="text"
                                           ng-model="clipsOfSubpart.color"
                                           ng-change="updateAllClipsOfSubpart(sp.id,'color',clipsOfSubpart.color)"
                                           class="form-control"
                                           style="background-color:{{clipsOfSubpart.color}}"
                                           colorpicker/>
                                </div>
                                <div class="col-md-1" >
                                    <input type="text"
                                           style="float:left; width:50px;"
                                           ng-model="clipsOfSubpart.width"
                                           ng-change="updateAllClipsOfSubpart(sp.id,'width',clipsOfSubpart.width)"
                                           class="form-control"/>
                                    <input type="text"
                                           style="width:50px;"
                                           ng-model="clipsOfSubpart.height"
                                           ng-change="updateAllClipsOfSubpart(sp.id,'height',clipsOfSubpart.height)"
                                           class="form-control"/>
                                </div>
                                <div class="col-md-3">
                                    <input type="text"
                                           ng-model="clipsOfSubpart.icon"
                                           ng-change="updateAllClipsOfSubpart(sp.id,'icon',clipsOfSubpart.icon)"
                                           id="clipsOfSubPartIcon_{{sp.id}}"
                                           ng-click="browseServer('#clipsOfSubPartIcon_'+sp.id)"
                                           class="form-control"/>
                                </div>
                                <div class="col-md-2">
                                    ---
                                </div>
                                <div class="col-md-1" >
                                    <input type="text"
                                           ng-model="clipsOfSubpart.entrypoint"
                                           ng-change="updateAllClipsOfSubpart(sp.id,'clip.entrypoint',clipsOfSubpart.entrypoint)"
                                           class="form-control"/>
                                </div>
                                <div class="col-md-1" >
                                    <input type="text"
                                           ng-model="clipsOfSubpart.exitpoint"
                                           ng-change="updateAllClipsOfSubpart(sp.id,'clip.exitpoint',clipsOfSubpart.exitpoint)"
                                           class="form-control"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1" style="padding-top:5px;">
                                </div>
                                <div class="col-md-1" style="padding-top:5px;">
                                </div>
                                <div class="col-md-1" style="padding-top:5px;">
                                </div>
                                <div class="col-md-1" style="padding-top:5px;">
                                    <strong>color schema</strong>
                                    <span 
                                        style="cursor:pointer; color:blue;" 
                                        class="glyphicon glyphicon-question-sign" 
                                        ng-click="openHelpModal('clipColorSchema')"></span>
                                </div>
                                <div class="col-md-1" style="padding-top:5px;">
                                </div>
                                <div class="col-md-1" style="padding-top:5px;">
                                </div>
                                <div class="col-md-1" style="padding-top:5px;">
                                </div>
                                <div class="col-md-2" style="padding-top:5px;">
                                </div>
                                <div class="col-md-3" style="padding-top:5px;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1" >
                                </div>
                                <div class="col-md-1" >
                                </div>
                                <div class="col-md-1" >
                                </div>
                                <div class="col-md-3" >
                                    <select 
                                        class="form-control"
                                        ng-options="cs as cs.name for cs in colorSeries track by cs.id" 
                                        ng-model="clipsOfSubpart.colorSeries"
                                        ng-change="distributeColorSeriesOverSubpart(clipsOfSubpart.colorSeries, sp)"
                                        >
                                    </select>
                                </div>
                                <div class="col-md-1" >
                                </div>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1" style="padding-top:20px;"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="bs-callout bs-callout-info">
                                        <h4>And/or edit the individual clips below....</h4>
                                        <p>Again you use the reload button to reset to original values.</p>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="bs-callout bs-callout-info">
                                        <h4>Show or hide columns on topics</h4>
                                        <p>
                                            Order and Color (
                                            <a style="text-decoration: underline;" ng-click="showSubsetEditorColumn('orderAndColor')">show</a>
                                            /<a style="text-decoration: underline;" ng-click="hideSubsetEditorColumn('orderAndColor')">hide</a>). 
                                            Icons and dimensions (
                                            <a style="text-decoration: underline;" ng-click="showSubsetEditorColumn('iconsAndDimensions')">show</a>
                                            /<a style="text-decoration: underline;" ng-click="hideSubsetEditorColumn('iconsAndDimensions')">hide</a>). 
                                            Sound File (
                                            <a style="text-decoration: underline;" ng-click="showSubsetEditorColumn('soundFile')">show</a>
                                            /<a style="text-decoration: underline;" ng-click="hideSubsetEditorColumn('soundFile')">hide</a>). 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1" style="padding-top:5px;">
                                    <strong>clip name</strong>
                                    <span 
                                        style="cursor:pointer; color:blue;" 
                                        class="glyphicon glyphicon-question-sign" 
                                        ng-click="openHelpModal('clipName')"></span>
                                </div>
                                <div class="col-md-1" style="padding-top:5px;">
                                    <strong>active</strong>
                                    <span 
                                        style="cursor:pointer; color:blue;" 
                                        class="glyphicon glyphicon-question-sign" 
                                        ng-click="openHelpModal('clipActive')"></span>
                                    <div class="pull-right">
                                        <strong>tag</strong>
                                        <span 
                                            style="cursor:pointer; color:blue;" 
                                            class="glyphicon glyphicon-question-sign" 
                                            ng-click="openHelpModal('clipTag')"></span>
                                    </div>
                                </div>
                                <div ng-show="subsetEditorColumnVisible('orderAndColor')" class="col-md-1" style="padding-top:5px;">
                                    <strong>order</strong>
                                    <span 
                                        style="cursor:pointer; color:blue;" 
                                        class="glyphicon glyphicon-question-sign" 
                                        ng-click="openHelpModal('clipOrderAll')"></span>
                                </div>
                                <div ng-show="subsetEditorColumnVisible('orderAndColor')" class="col-md-1" style="padding-top:5px;">
                                    <strong>color</strong>
                                    <span 
                                        style="cursor:pointer; color:blue;" 
                                        class="glyphicon glyphicon-question-sign" 
                                        ng-click="openHelpModal('clipColor')"></span>
                                </div>
                                <div ng-show="subsetEditorColumnVisible('iconsAndDimensions')" class="col-md-1" style="padding-top:5px;">
                                    <strong>wdt</strong>
                                    <span 
                                        style="cursor:pointer; color:blue;" 
                                        class="glyphicon glyphicon-question-sign" 
                                        ng-click="openHelpModal('clipWidth')"></span>
                                    <span class="pull-right">
                                        <strong>hgt</strong>
                                        <span 
                                            style="cursor:pointer; color:blue;" 
                                            class="glyphicon glyphicon-question-sign" 
                                            ng-click="openHelpModal('clipHeight')"></span>
                                    </span>
                                </div>
                                <div ng-show="subsetEditorColumnVisible('iconsAndDimensions')" class="col-md-3" style="padding-top:5px;">
                                    <strong>clip icon</strong>
                                    <span 
                                        style="cursor:pointer; color:blue;" 
                                        class="glyphicon glyphicon-question-sign" 
                                        ng-click="openHelpModal('clipIcon')"></span>
                                </div>
                                <div ng-show="subsetEditorColumnVisible('iconsAndDimensions')" class="col-md-3" style="padding-top:5px;">
                                    <strong>finder icon</strong>
                                    <span 
                                        style="cursor:pointer; color:blue;" 
                                        class="glyphicon glyphicon-question-sign" 
                                        ng-click="openHelpModal('finderIcon')"></span>
                                </div>
                                <div ng-show="subsetEditorColumnVisible('iconsAndDimensions')" class="col-md-3" style="padding-top:5px;">
                                    <strong>f-icon roll</strong>
                                    <span 
                                        style="cursor:pointer; color:blue;" 
                                        class="glyphicon glyphicon-question-sign" 
                                        ng-click="openHelpModal('finderIconRoll')"></span>
                                </div>
                                <div ng-show="subsetEditorColumnVisible('soundFile')" class="col-md-2" style="padding-top:5px;">
                                    <strong>audio</strong>
                                    <span 
                                        style="cursor:pointer; color:blue;" 
                                        class="glyphicon glyphicon-question-sign" 
                                        ng-click="openHelpModal('clipAudio')"></span>
                                </div>
                                <div ng-show="subsetEditorColumnVisible('soundFile')" class="col-md-1" style="padding-top:5px;">
                                    <strong>entry</strong>
                                    <span 
                                        style="cursor:pointer; color:blue;" 
                                        class="glyphicon glyphicon-question-sign" 
                                        ng-click="openHelpModal('clipEntrypoint')"></span>
                                </div>
                                <div ng-show="subsetEditorColumnVisible('soundFile')" class="col-md-1" style="padding-top:5px;">
                                    <strong>exit</strong>
                                    <span 
                                        style="cursor:pointer; color:blue;" 
                                        class="glyphicon glyphicon-question-sign" 
                                        ng-click="openHelpModal('clipExitpoint')"></span>
                                </div>
                            </div>
                            <div ng-repeat="sc in sp.ownSubclip" class="row">
                                <div class="col-md-1" >
                                    <input type="text"
                                           ng-model="sc.name"
                                           class="form-control"/>
                                </div>
                                <div class="col-md-1" >
                                    <input type="checkbox"
                                           ng-model="sc.active"
                                           ng-true-value="'1'"
                                           ng-false-value="'0'"
                                           class="form-control"
                                           style="margin:0px; width:34px; float:left;"/>
                                    <span class="pull-right" style="width:69px;">
                                        <input type="text"
                                           ng-model="sc.tag"
                                           class="form-control"/>
                                    </span>
                                </div>
                                <div ng-show="subsetEditorColumnVisible('orderAndColor')" class="col-md-1" >
                                    <input type="text"
                                           ng-model="sc.order"
                                           class="form-control"/>
                                </div>
                                <div ng-show="subsetEditorColumnVisible('orderAndColor')" class="col-md-1" >
                                    <input type="text"
                                           ng-model="sc.color"
                                           class="form-control"
                                           style="background-color:{{sc.color}}"
                                           colorpicker/>
                                </div>
                                <div ng-show="subsetEditorColumnVisible('iconsAndDimensions')" class="col-md-1" >
                                    <input type="text"
                                           style="float:left; width:50px;"
                                           ng-model="sc.width"
                                           class="form-control"/>
                                    <input type="text"
                                           style="width:50px;"
                                           ng-model="sc.height"
                                           class="form-control"/>
                                </div>
                                <div ng-show="subsetEditorColumnVisible('iconsAndDimensions')" class="col-md-3">
                                    <input type="text"
                                           ng-model="sc.icon"
                                           class="form-control"
                                           id="subClipIcon_{{sc.id}}"
                                           ng-dblclick="browseServer('#subClipIcon_'+sc.id)"/>
                                </div>
                                <div ng-show="subsetEditorColumnVisible('iconsAndDimensions')" class="col-md-3">
                                    <input type="text"
                                           ng-model="sc.ficon"
                                           class="form-control"
                                           id="subClipFicon_{{sc.id}}"
                                           ng-dblclick="browseServer('#subClipFicon_'+sc.id)"/>
                                </div>
                                <div ng-show="subsetEditorColumnVisible('iconsAndDimensions')" class="col-md-3">
                                    <input type="text"
                                           ng-model="sc.ficonroll"
                                           class="form-control"
                                           id="subClipFiconRoll_{{sc.id}}"
                                           ng-dblclick="browseServer('#subClipFiconRoll_'+sc.id)"/>
                                </div>
                                <div ng-show="subsetEditorColumnVisible('soundFile')" class="col-md-2">
                                    <div ng-hide="sc.clip">
                                        <div 
                                            ng-file-drop 
                                            ng-model="upl.files" 
                                            class="drop-box" 
                                            drag-over-class="dragover" 
                                            ng-multiple="true" 
                                            allow-dir="true" 
                                            ng-file-change="fileDropped($files, $event, $rejectedFiles, sc.id)"
                                            accept=".mp3,.MP3,*.mp3,*.MP3">
                                            Drop mp3 here
                                        </div>
                                        <div ng-no-file-drop>
                                            File Drag/Drop is not supported for this browser
                                        </div>
                                    </div>
                                    <div ng-show="sc.clip">
                                        <audio controls style="width:220px;">
                                            <source ng-src="{{getClipSrc(sc.clip.id)}}" type="audio/mpeg">
                                        </audio>
                                        <span class="glyphicon glyphicon-remove" style="color:red; cursor:pointer;" ng-click="removeMp3(sc)"></span>
                                    </div>
                                </div>
                                <div ng-show="subsetEditorColumnVisible('soundFile')" class="col-md-1" >
                                    <input type="text"
                                           ng-model="sc.clip.entrypoint"
                                           class="form-control"/>
                                </div>
                                <div ng-show="subsetEditorColumnVisible('soundFile')" class="col-md-1">
                                    <input type="text"
                                           ng-model="sc.clip.exitpoint"
                                           class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 