<div ng-controller="ScrollController" id="manage_scrollPage">
    <h2>selected project</h2>
    <hr/>
    <h4>selected project</h4>
    <div class="container">
        <div class="row" ng-repeat="p in fprojects">
            <div class="col-md-2">
                <input class="pull-right" type="radio" name="projectId" ng-model="$parent.sproject.id" ng-value="p.id" />
            </div>
            <div class="col-md-2">
                {{p.name}}
            </div>
        </div>
        <div class="row" ng-show="sproject.id">
            <button class="btn btn-default" type="submit" ng-click="loadScrollForProject()">Load Scroll For Project</button>
        </div>
    </div>
    <hr/>
    <div ng-show="sproject.ownScrollitem.length > 0">
        <h1>edit scroll</h1>
        <hr/>
        <h4>add a template to the scroll</h4>
        <div class="row">
            <div class="col-md-4">select a template will add it to scroll</div>
            <div class="col-md-6">
                <select 
                    name="select_template" 
                    id="select_template" 
                    class="form-control" 
                    ng-model="musbas.stemplate" 
                    ng-options="s.template_name + ' | ' + s.composition_name + ' [' + s.num_user_compositions + ']' for s in musbas.ftemplates track by s.template_id"
                    ng-change="addScrollitem(musbas.stemplate)">
                </select>
            </div>
        </div>
        <hr/>
        <div class="container">
            <div class="row" >
                <div class="col-md-2"><strong>template name</strong></div>
                <div class="col-md-2"><strong>composition name</strong></div>
                <div class="col-md-2"><strong>order</strong></div>
                <div class="col-md-2"><strong>delete scroll item</strong></div>
            </div>
            <div class="row" ng-repeat="s in sproject.ownScrollitem">
                <div class="col-md-2">{{s.template.name}}</div>
                <div class="col-md-2">{{s.template.composition.name}}</div>
                <div class="col-md-2"><input type="text" placeholder="order" ng-model="s.order"></div>
                <div class="col-md-2"><button class="btn btn-default" type="submit" ng-click="deleteScrollItem(s.id)">Delete!</button></div>
            </div>
            <div class="row">
                <button class="btn btn-default" type="submit" ng-click="sortScroll()">Sort!</button>
                <button class="btn btn-default" type="submit" ng-click="saveScrollForProject()">Save!</button>
            </div>
        </div>
    </div>
</div> 