<div>
    <div class="modal-header">
        <h3 class="modal-title">ABOUT STUFF</h3>
    </div>
    <div class="modal-body">
        <div ng-bind-html="deliberatelyTrustDangerousSnippet()"</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">CLOSE</button>
    </div>
</div>