.ikc *
{
	background-color: transparent;
	border-style: none;
	border-top: none;
	padding: 0px 0px 0px 0px;
	float: none;
	margin: 0px 0px 0px 0px;
	overflow: visible;
	position:relative;
	top:auto;
	left:auto;
	width:auto;
	text-align:left;
	z-index:0;
}
.ikc object {
  width: 100%;
  top: -200px;
}
body
{
  background-color: black;
  color:black;
  margin:0;
  padding:0;
  border:0;
  width:100%;
  min-width:1260px;
  font-family:arial;
}
#logo {
    background-image: url("images/mco_text_logo2.png");
    background-repeat: no-repeat;
    float: left;
    height: 200px;
    width: 225px;
}
#info_header{
    background-color:white;
    color:black;
}
#content_info{
    background-color:white;
    color:black;
}
#content_info a{
    color:black;
}
#logo img {
	width: 100%;
	height: 100%;
}
#ident {
	height:107px;
	width:870px;
	margin-left:auto;
	margin-right:auto;
}
#ident img {
	position: absolute;
	top: 0px;
}
#container {
        width: 1260px;
        margin: 0 auto;
}
#primary {
        float: left;
        width: 150px;
				height:860px;
}
#primary a{
	margin-left: 5px;
	margin-top: 3px;
}
#primary div{
	margin-left: 5px;
	margin-top: 8px;
}
#primary .ui-button {
	width: 140px;
}
#content {
        /*float: left;
        width: 960px;*/
	text-align:center;
        left:150px;
        top:200px;
}
#ikc_tabs{
    display: none;
}
#secondary {
        float: left;
        width: 150px;
	/*background-image:url('images/rechts.png');*/
}
#movieViewer {
	width:500px;
	height:350px;
	display:none;
}
#mycarousel {
    float: left;
    height: 120px;
    left: 10px;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    position: relative;
    top: 50px;
    width: 960px;
}
#mycarousel div {
	position: absolute;
}
#mycarousel div img {
	position: absolute;
	width: 100%;
	height: 100%;
}
#mycarousel a {
	color: #FFFFFF;
        left: 27px;
        position: absolute;
        text-decoration: underline;
        top: 100px;
        cursor: pointer;
}
#footer {
        clear: both;
        color:white;
	text-align: center;
        position:relative;
        top:145px;
}
.ui-widget-content { border: 1px solid #666666; background: #000000 url(images/ui-bg_inset-soft_25_000000_1x100.png) 50% bottom repeat-x;}
.ui-widget-header { border: 1px solid #333333; background: #333333 url(images/ui-bg_gloss-wave_25_333333_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_cccccc_256x240.png); }
.ui-icon-closethick { background-position: -96px -128px; }