/*! jQuery UI - v1.11.2 - 2014-12-14
* http://jqueryui.com
* Includes: core.css, draggable.css, resizable.css, button.css, dialog.css
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */

.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse}.ui-helper-clearfix:after{clear:both}.ui-helper-clearfix{min-height:0}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}.ui-front{z-index:100}.ui-state-disabled{cursor:default!important}.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}.ui-draggable-handle{-ms-touch-action:none;touch-action:none}.ui-resizable{position:relative}.ui-resizable-handle{position:absolute;font-size:0.1px;display:block;-ms-touch-action:none;touch-action:none}.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle{display:none}.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0}.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0}.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%}.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%}.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px}.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px}.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px}.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px}.ui-button{display:inline-block;position:relative;padding:0;line-height:normal;margin-right:.1em;cursor:pointer;vertical-align:middle;text-align:center;overflow:visible}.ui-button,.ui-button:link,.ui-button:visited,.ui-button:hover,.ui-button:active{text-decoration:none}.ui-button-icon-only{width:2.2em}button.ui-button-icon-only{width:2.4em}.ui-button-icons-only{width:3.4em}button.ui-button-icons-only{width:3.7em}.ui-button .ui-button-text{display:block;line-height:normal}.ui-button-text-only .ui-button-text{padding:.4em 1em}.ui-button-icon-only .ui-button-text,.ui-button-icons-only .ui-button-text{padding:.4em;text-indent:-9999999px}.ui-button-text-icon-primary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 1em .4em 2.1em}.ui-button-text-icon-secondary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 2.1em .4em 1em}.ui-button-text-icons .ui-button-text{padding-left:2.1em;padding-right:2.1em}input.ui-button{padding:.4em 1em}.ui-button-icon-only .ui-icon,.ui-button-text-icon-primary .ui-icon,.ui-button-text-icon-secondary .ui-icon,.ui-button-text-icons .ui-icon,.ui-button-icons-only .ui-icon{position:absolute;top:50%;margin-top:-8px}.ui-button-icon-only .ui-icon{left:50%;margin-left:-8px}.ui-button-text-icon-primary .ui-button-icon-primary,.ui-button-text-icons .ui-button-icon-primary,.ui-button-icons-only .ui-button-icon-primary{left:.5em}.ui-button-text-icon-secondary .ui-button-icon-secondary,.ui-button-text-icons .ui-button-icon-secondary,.ui-button-icons-only .ui-button-icon-secondary{right:.5em}.ui-buttonset{margin-right:7px}.ui-buttonset .ui-button{margin-left:0;margin-right:-.3em}input.ui-button::-moz-focus-inner,button.ui-button::-moz-focus-inner{border:0;padding:0}.ui-dialog{overflow:hidden;position:absolute;top:0;left:0;padding:.2em;outline:0}.ui-dialog .ui-dialog-titlebar{padding:.4em 1em;position:relative}.ui-dialog .ui-dialog-title{float:left;margin:.1em 0;white-space:nowrap;width:90%;overflow:hidden;text-overflow:ellipsis}.ui-dialog .ui-dialog-titlebar-close{position:absolute;right:.3em;top:50%;width:20px;margin:-10px 0 0 0;padding:1px;height:20px}.ui-dialog .ui-dialog-content{position:relative;border:0;padding:.5em 1em;background:none;overflow:auto}.ui-dialog .ui-dialog-buttonpane{text-align:left;border-width:1px 0 0 0;background-image:none;margin-top:.5em;padding:.3em 1em .5em .4em}.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:right}.ui-dialog .ui-dialog-buttonpane button{margin:.5em .4em .5em 0;cursor:pointer}.ui-dialog .ui-resizable-se{width:12px;height:12px;right:-5px;bottom:-5px;background-position:16px 16px}.ui-draggable .ui-dialog-titlebar{cursor:move}

.ikc *
{
	background-color: transparent;
	border-style: none;
	border-top: none;
	padding: 0px 0px 0px 0px;
	float: none;
	margin: 0px 0px 0px 0px;
	overflow: visible;
	position:relative;
	top:auto;
	left:auto;
	width:auto;
	text-align:left;
	z-index:0;
}
.ikc object {
  width: 100%;
}
body
{
  background-color: black;
  color:black;
  margin:0;
  padding:0;
  border:0;
  width:100%;
  min-width:1260px;
  font-family:arial;
}
#logo {
    background-image: url("images/mco_text_logo2.png");
    background-repeat: no-repeat;
    float: left;
    height: 200px;
    width: 225px;
}
#info_header{
    background-color:white;
    color:black;
}
#header {
    position:absolute;
    min-width:1185px;
}
#content_info{
    background-color:white;
    color:black;
}
#content_info a{
    color:black;
}
#logo img {
	width: 100%;
	height: 100%;
}
#ident {
	height:107px;
	width:870px;
	margin-left:auto;
	margin-right:auto;
}
#ident img {
	position: absolute;
	top: 0px;
}
#container {
        width: 1260px;
        margin: 0 auto;
}
#primary {
        float: left;
        width: 150px;
				height:860px;
}
#primary a{
	margin-left: 5px;
	margin-top: 3px;
}
#primary div{
	margin-left: 5px;
	margin-top: 8px;
}
#primary .ui-button {
	width: 140px;
}
#content {
    position:absolute;
    top:220px;
    left: 50%;
    margin-left: -520px;
}
#ikc_tabs{
    display: none;
}
#secondary {
        float: left;
        width: 150px;
	/*background-image:url('images/rechts.png');*/
}
#movieViewer {
	width:500px;
	height:350px;
	display:none;
}
#mycarousel {
    float: left;
    height: 120px;
    left: 10px;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    position: relative;
    top: 50px;
    width: 960px;
}
#mycarousel div {
	position: absolute;
}
#mycarousel div img {
	position: absolute;
	width: 100%;
	height: 100%;
}
#mycarousel a {
	color: #FFFFFF;
        left: 27px;
        position: absolute;
        text-decoration: underline;
        top: 100px;
        cursor: pointer;
}
#footer {
        clear: both;
        color:white;
	text-align: center;
        position: relative;
        top: 209px;
}
.ui-widget-content { border: 1px solid #666666; background: #000000 url(images/ui-bg_inset-soft_25_000000_1x100.png) 50% bottom repeat-x;}
.ui-widget-header { border: 1px solid #333333; background: #333333 url(images/ui-bg_gloss-wave_25_333333_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_cccccc_256x240.png); }
.ui-icon-closethick { background-position: -96px -128px; }