#manage_exportDevEnvPage .row { 
    margin-top:10px;
}
.drop-box {
	background: #F8F8F8;
	border: 5px dashed #DDD;
	width: 200px;
	height: 34px;
        text-align: center;
        padding-top: 2px;
	float: left;
	margin-left: 20px;
}

#manage_viewAgentsPage .bar {
  fill: steelblue;
}

#manage_viewAgentsPage .bar:hover {
  fill: brown;
}

#manage_viewAgentsPage .axis {
  font: 10px sans-serif;
}

#manage_viewAgentsPage .axis path,
#manage_viewAgentsPage .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#manage_viewAgentsPage .x.axis path {
  display: none;
}